[2010-11-11 19:28] erikvold opened #4 "Bug while taking screenshot on osx"
When I take a screenshot with nightlytt on osx a new window will pop-up and show me the screenshot, but at the top I all I see is a drop down menu surrounded by a mess, see screenshot below:

[<img src="https://github.com/downloads/erikvold/nightlytt/Screen%20shot%202010-11-11%20at%2011.20.22%20AM.png" />](https://github.com/downloads/erikvold/nightlytt/Screen%20shot%202010-11-11%20at%2011.20.22%2

[2012-02-09 12:19] brianking opened #14 "Update Add-on Compatibility prefs and show warning when it gets enabled"
I am not sure if NTT is still doing this, or how, but with Compatible By Default (CBD) it should probably not be doing it anymore. This is why the ACR stopped doing it.

Basically, the traditional compatibility prefs and CBD do not play nice together. The dirty details are in this bug:

https://bugzilla.mozilla.org/show_bug.cgi?id=698653

ACR related bug:

https://bugzilla.mozilla.org/show_bug.cgi

[2012-03-05 12:01] whimboo opened #20 "Generalize title customization code for all supported applications"
The code to modify the title bar with the custom title differs between each supported application. We should generalize it so that the methods look like the same but only access different elements to retrieve/set the necessary data.

[2012-03-05 12:26] whimboo opened #22 "Reorganize folder structure of repository"
Similar to our MemChaser extension (https://github.com/mozilla/memchaser) we should reorganize the folder structure for the NTT repository. The extension should live in a sub directory and only global stuff (e.g. the build script, readme...) should exist in the root folder.

I would like to see this for 3.2.2 but would like to wait until the other issues with code attached have been merged first.

[2012-03-05 12:28] whimboo opened #23 "Create build script based on Ant"
Currently you have to zip the files manually but we can automate the XPI creation process with Ant. It's a great process which already helps us a lot for MemChaser (https://github.com/mozilla/memchaser). We would have to wait until issue #22 has been landed.

[2012-03-05 15:53] #4 closed, assigned to nobody

[2012-03-08 12:31] whimboo opened #25 "Make columns of 'Customize Titlebar' dialog's tree resizable"
Summary says everything. For long variable names or descriptions it would be good if the column width could be made resizable.

[2012-03-09 13:27] whimboo opened #27 "Update list of contributors"
We want to update the list of contributors in the install.rdf file of the extension. The following people would have be added:

@harthur
@tonymec
@k0s
@ed2010
@xabolcs
myself

Can anyone of you please give me feedback if it is wanted?

[2012-03-09 20:48] #22 closed, assigned to nobody

[2012-03-11 00:06] xabolcs opened #29 "Renew Songbird support of titlebar customization to support SB 1.10.2"
I found some (portable) version of SB:
-   `1.4.3` - old stable
-   `1.7.3` - old stable
-   `1.10.2` - stable
-   `1.12.0a` - nightly

Titlebar customization doesn't work with `1.10.2` and up.
<del>If somebody could assign it to me (or flagging it as taken),</del> I happily dig into myself.

_FYI_ - [Songbird's Addon site](http://addons.songbirdnest.com/addon/122) with lot of comments

**Assigned

[2012-03-11 00:19] xabolcs opened #30 "Enhance build script to make it easier to create release builds"
Beta releases are good for AMO's beta channel.

From #23:

(On demand) Nightly releases are cool too. :)
Of course it's more complex due to the `update.rdf` and the xpi file hosting.

[2012-03-11 00:26] xabolcs opened #31 "Add basic Seamonkey support to titlebar customization"
@tonymec and I talked a little bit on [mozillaZine](http://forums.mozillazine.org/viewtopic.php?f=23&t=2015603&start=15) about how to support Seamonkey.
It isn't trivial. SM has got two window types, at least. :)

<del>Depends on #20 - wait for it's "output", and reuse from modules as much as possible.</del>

**This issue was modified to contain BASIC titlebar customization only!**
It overlays `ch

[2012-03-12 17:41] whimboo opened #32 "Ship extension code with binary components included"
There is no reason why the binary components need to be downloaded separately. Those have to be directly stored beside the extension code because there is a relationship.

[2012-03-13 03:32] #32 closed, assigned to nobody

[2012-03-13 12:42] xabolcs opened #34 "Add 'conditional separator' variable to titlebar customization"
Because titles of Tab Groups could be empty (landing in #19), some conditional logic would be nice in `generateText`.

[2012-03-13 15:57] #23 closed, assigned to davehunt

[2012-03-14 10:59] whimboo opened #37 "Update maxVersions of applications for latest version bumps"
Yesterday the bump to 14.0a1 happened for Firefox. Similar bumps happen for other applications. We should get those in before releasing 3.2.2.

[2012-03-14 13:21] whimboo opened #39 "Move license to MPL 2"
We should the license for our files to use MPL 2:
http://www.mozilla.org/MPL/2.0/

The list of contributors to the project can be queried via:
https://github.com/mozilla/nightlytt/contributors

Also everyone will be listed in the install.rdf file as contributor. So there is no need to keep the old MPL 1.1 around.

[2012-03-14 13:45] #27 closed, assigned to nobody

[2012-03-14 14:19] #30 closed, assigned to nobody

[2012-03-14 14:20] whimboo opened #40 "Release NTT 3.2.2"
Tasks for the release:
- Create changelog history
- Bump version number to 3.2.2
- Create 3.2.2 tag
- Create XPI and upload to AMO
- Bump version to 3.2.3pre

[2012-03-14 15:34] xabolcs opened #42 "Avoid "binary-component" entries in Chrome registration to opt-in for Default to Compatible"
As the [comment](https://github.com/mozilla/nightlytt/issues/37#issuecomment-4500023) states in #37, NTT could be compatible by default.

[2012-03-14 16:43] #37 closed, assigned to nobody

[2012-03-16 20:50] #40 closed, assigned to nobody

[2012-03-20 10:32] #42 closed, assigned to nobody

[2012-03-21 18:06] whimboo opened #45 "Transfer ownership of the extension from Mossop to the Automation Services team"
Talked with Dave and we should transfer the ownership over to our team. That means we have to update the install.rdf accordingly. I will take it.

[2012-03-21 23:07] #45 closed, assigned to nobody

[2012-03-22 13:07] brianking opened #47 "Restart Prompt Missing Icon"
When we enable/disable add-on compatibility, a doorhanger prompt is shown. It is missing an icon and looks bare/unbalanced.

http://briks.si/misc/ntt/NTTreStart.png

Mozilla/5.0 (Windows NT 6.0; rv:13.0) Gecko/20120320 Firefox/13.0a2 ID:20120320042012

[2012-03-22 13:33] brianking opened #49 "Submit to Imageshack is Broken"
In the screenshot window, when I submit to ImageShack I get the following:

You must provide a valid auth token or dev key. see http://code.google.com/p/imageshackapi/

Mozilla/5.0 (Windows NT 6.0; rv:13.0) Gecko/20120320 Firefox/13.0a2 ID:20120320042012

[2012-03-22 13:42] brianking opened #50 "Make Tools More Discoverable"
This problem is more acute on Windows where we only have the Firefox menu button.

For me, the 'Nightly Tester Tools' menu is hard to get at. I propose:
1. We add a menu button to the navigation toolbar
2. We add a menu button to the add-ons bar

This can probably be done with the same code and then users can customise in which place they want it. I propose the add-ons bar by default, and we force

[2012-03-24 08:53] whimboo opened #51 "Add pushlog feature to beta builds"
I think that we should also add the pushlog feature for beta builds. Those people are also testers and for us it would be good to know what has been checked-in between beta releases.

[2012-03-27 07:03] xabolcs opened #52 "[force-compatibility] Detect the application version automatically and setup the right compatibility pref"
**whimboo** [comented](https://github.com/mozilla/nightlytt/pull/48#issuecomment-4698214) in #48:

**xabolcs** [commented](https://github.com/mozilla/nightlytt/issues/14#issuecomment-3983145) in #14:

[2012-03-28 08:33] #47 closed, assigned to nobody

[2012-03-28 08:36] #14 closed, assigned to nobody

[2012-03-29 16:44] brianking opened #55 "Customize Titlebar window too small"
http://briks.si/misc/ntt/TitleDialog.jpg

Notice how the columns are too narrow and text is obscured. It is not possible to change the column size.

I propose that we either make this window bigger, and/or allow the user to size the window to whatever size they want and/or allow column resizing.

[2012-04-04 06:30] xabolcs opened #56 "Reveal about:nightly for Thunderbird users"
Currently there are no easy way to open `about:nightly` under Thunderbird.

A [`menuitem`](https://github.com/mozilla/nightlytt/blob/master/extension/chrome/content/messengerOverlay.xul#L63) would be nice.

[2012-04-04 06:48] xabolcs opened #57 "aboutNightly component does not implement nsIObserver"
Error Console says:

By the way, I'm not sure about the observing to `profile-after-change` is needed.

[2012-04-04 07:49] whimboo opened #58 "Update list of contributors in 'about:nightly'"
Currently the list of contributors is totally outdated in `about:nightly` and needs an update. I wonder if we could do it somewhat automatically by retrieving those from the install.rdf file.

[2012-04-04 20:38] whimboo opened #59 "There should be an option for disabling the screenshot shortcut Cmd+Shift+S"
Originally reported as: https://bugzilla.mozilla.org/show_bug.cgi?id=619306

User-Agent:       Mozilla/5.0 (Macintosh; Intel Mac OS X 10.5; rv:2.0b7) Gecko/20100101 Firefox/4.0b7
Build Identifier: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.5; rv:2.0b7) Gecko/20100101 Firefox/4.0b7

On most Mac OS applications, the shortcut Cmd+Shift+S is reserved for "Save As...". When the Nightly Tester Tools are

[2012-04-04 20:44] whimboo opened #60 "Langpack auto updater for daily builds"
Originally filed as: https://bugzilla.mozilla.org/show_bug.cgi?id=706418

User Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:11.0a1) Gecko/20111128 Firefox/11.0a1
Build ID: 20111128031052

Steps to reproduce:

Update or only download langpack xpi (force x32 if x64 doesn't exist) for checking or testing compatibility.
Eventually, on start, disable langpack on errors.

[2012-04-04 21:16] whimboo opened #61 "Pushlog after current build"
Originally reported as: https://bugzilla.mozilla.org/show_bug.cgi?id=741169

When you click on "Open pushlog" you can see all changesets for your current build.
It will be interesting to add a "Pushlog since current build" menu to check what has landed after the build in use.

[2012-04-04 21:25] whimboo opened #62 "Create automated tests for the extension"
We don't have any tests for NTT. With moving to the WebExtension API now we might have a framework to actually make use of.

[2012-04-04 21:38] whimboo opened #63 "Unique user-defined name in the titlebar for each open window"
Originally filed as: https://bugzilla.mozilla.org/show_bug.cgi?id=704015

Attempted to assign a unique name for each current window

Actual results:

it failed. Only one userdefined name is now allowed and it applies globally to all current windows

Expected results:

An option for  creating a unique user-defined name in the titlebar for EACH open window, eg, BUGS, 'Problem sites', etc., rather th

[2012-04-04 21:40] whimboo opened #64 "Allow users to run automated testcases within their builds"
Originally filed as: https://bugzilla.mozilla.org/show_bug.cgi?id=607215

Grafxbot and the mozmill crowdsource extension gave them inspiration here, but It'd be a huge benefit to us if we could set up NTT with a testrunner. Something features of it (from the user perspective):
- A user can choose the type of automated tests they'd like to run
- One click start if they want
- A dashboard page that

[2012-04-04 22:01] whimboo opened #65 "Include the changeset in Insert-able/Copy-able Items"
Originally filed as: https://bugzilla.mozilla.org/show_bug.cgi?id=634269

Include the Change Set as an "Insert"-able or "Copy"-able menu item similar to such items as Build ID, List of Extensions, and about:support. The Change Set could be includes with the rest of the Build ID information and/or be a separate menu item.

Since the switch to mercurial, the Change Set may be more important than the

[2012-04-04 22:05] whimboo opened #66 "Improvements for "List of Extensions" Output"
Originally filed as: https://bugzilla.mozilla.org/show_bug.cgi?id=629368

With the release of Stylish 1.1, users now have all Extensions, Themes, Plugins, Styles, & Scripts output and mixed together when selecting Copy/Insert (their) List of Extensions from the NTT submenu. That makes things a royal pain if, like me, the user has many (79 combined) of these items installed.

I have some suggestion

[2012-04-04 22:09] whimboo opened #67 "Reformat aboutNightly in a way that makes nightly users better equipped to test"
Originally filed as: https://bugzilla.mozilla.org/show_bug.cgi?id=621793

[mockup of the page](https://bugzilla.mozilla.org/attachment.cgi?id=500121)

The about:nightly page is good promotional material for us, but it's not really usable for most folks. I'd like to suggest some changes in it:
- Show the build id on the top right
- Show a list of informative links that'll be helpful for testing on

[2012-04-06 20:09] jds2501 opened #68 "Integrate User Agent Switching into Nightly Tester Tools"
Allow users using nightly tester tools to perform user agent switching with desktop firefox builds to different user agent strings. Functionality would follow similar functionality to existing add-ons for user agent switching. A set of user agents that will need to be included should target areas such as:
- Webkit-based browsers on desktop and mobile (e.g. IPhone, Android Stock, Chrome)
- Gecko-ba

[2012-04-06 20:19] jds2501 opened #69 "Implement Suggestion Mechanism on Filing Bugs for Desktop Firefox"
Implement a suggestion mechanism to assist the user in filing a bug in bugzilla. A user flow possibly for this could be:

1) User selects "File a Bug"
2) Give the user the option to either specify the product or component explicitly or enter this suggestion mechanism flow for help
3) Prompt the user for a short selection for questions to suggest a location to file the bug
4) Include suggestions wh

[2012-04-09 10:05] xabolcs opened #70 "Re-write NTT pushlog feature to support regularly switched shared profiles between Aurora and Nightly channel"
## Originally filed as [Bug 716829](https://bugzilla.mozilla.org/show_bug.cgi?id=716829).

Sorry for the hard-understand-ultralong title, the point is in the Bug [650126 Comment 4](https://bugzilla.mozilla.org/show_bug.cgi?id=650126#c4) last paragraph:

(In reply to Ed Morley [:edmorley] from [Bug 650126 comment #4](https://bugzilla.mozilla.org/show_bug.cgi?id=650126#c4))

Another details are in [

[2012-05-02 21:16] whimboo opened #71 "Release version 3.3"
We have to get version 3.3 out the door. It has some compatibility improvements and doesn't register binary components anymore. This will no longer disable the extension on a Firefox version bump.

Steps to do:
- Update changelog
- Bump version to 3.3 and update compatibility versions
- Create 3.3 tag
- Release to AMO
- Bump version to 3.4pre

[2012-05-02 22:16] #71 closed, assigned to nobody

[2012-05-25 08:48] #65 closed, assigned to nobody

[2012-06-05 08:06] xabolcs opened #80 "[customize-titlebar] Let users to add variables to template at the current cursor position."
**whimboo** commented [on the diff](https://github.com/mozilla/nightlytt/pull/74/files#r919906) in pull request  #74

[2012-06-06 03:17] xabolcs opened #81 "Enhance nightlyApp.openNotification() to fall back to notificationBox if PopupNotifications isn't available"
Will post the resolution too.

And a followup issue is welcome too: implement `nightlyApp.openNotification()` for Messenger, Suite and Songbird.

[2012-06-12 09:42] whimboo opened #86 "copy about:support to pastebin menu entry is broken"
When you try the above mentioned command you will get the following entry in the Error Console:

Error: [Exception... "Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIWebNavigation.loadURI]"  nsresult: "0x80004005 (NS_ERROR_FAILURE)"  location: "JS frame :: chrome://global/content/bindings/browser.xml :: loadURIWithFlags :: line 156"  data: no]
Source File: chrome://browser/cont

[2012-06-12 10:48] #55 closed, assigned to nobody

[2012-06-13 23:10] xabolcs opened #87 "Change the old code to have consistent coding style"
Based on talk in [`#ateam`](http://logbot.glob.com.au/?c=mozilla%23ateam&s=13+Jun+2012&e=13+Jun+2012#c352554) We should update the codebase to conform the coding style introducing in **Milestone [3.4](https://github.com/mozilla/nightlytt/issues?milestone=3&state=closed)**.

Fix should address the following
- 2 char indentation
  use

[code]

  instead of

[code]
- space between `function` and the

[2012-06-14 10:23] #81 closed, assigned to nobody

[2012-06-14 10:35] #61 closed, assigned to nobody

[2012-06-19 00:22] xabolcs opened #88 "Insert List of Extensions into Textbox "results a mass of duplications" with Gecko 1.9.x"
As reported in [mozillaZine](http://forums.mozillazine.org/viewtopic.php?p=12071321#p12071321) by **JoeG**,  **Insert** _List of Extensions_ is a little buggy.

Problem is that there are too much callback in `nightly.getExtensionList()`.
There was a [misplacing](https://github.com/mozilla/nightlytt/compare/d68e359593...ea737c630d#L26R367) in **harth**'s [commit](https://github.com/mozilla/nightlyt

[2012-06-19 23:17] xabolcs opened #90 "Implement nttAddonManager.jsm - an AddonManager / Extension Manager wrapper"
This is an issue [based on the talk](https://github.com/mozilla/nightlytt/pull/89#issuecomment-6417336) in #89:

**whimboo** commented

**xabolcs** commented

**whimboo** commented

[2012-06-19 23:27] xabolcs opened #91 "Implement nightly.openNotification() for other Applications"
At least for Tb and Sm!

By the way Issue #81 got fixed, so We know where to start from.

[2012-06-19 23:40] xabolcs opened #92 "Could be hidecolumnpicker controlled programatically?"
Find it out!

This issue is [based on the talk](https://github.com/mozilla/nightlytt/pull/74#discussion_r966123) in #74

**whimboo** commented

**xabolcs** commented

[2012-08-07 10:49] #57 closed, assigned to nobody

[2012-08-07 14:28] #88 closed, assigned to nobody

[2012-08-17 12:44] xabolcs opened #94 "nightly.getExtensionList should return only addons with type "extension" with Gecko 2.0+"
... as it does with [Gecko 1.9.x](https://github.com/mozilla/nightlytt/blob/10c8fa9125e3cb2f749b5eac19359f4d2ffcbeb3/extension/chrome/content/nightly.js#L354):

Please note, that this issue doesn't invalidate #66.
This just prefers the first possibility:

[2012-08-24 11:35] #56 closed, assigned to nobody

[2012-09-26 20:39] #58 closed, assigned to xabolcs

[2012-09-28 22:46] xabolcs opened #95 "Release version 3.4 (and update outdated 3.2.2pre to 3.5preYYYYMMDD in beta channel)"
**whimboo** wrote:

Version 3.3 was released more than 3 months ago, and we have nice enhancements.

Steps to do:
- Update changelog
- Bump version to `3.4` and update [compatibility versions](https://addons.mozilla.org/pages/appversions/)
- Create `v3.4` tag
- Release to AMO
- Bump version to `3.5pre`
- Remove uncompleted issues from Milestone with well-founded reasons (if any)

Optional steps:
1

[2012-10-17 15:53] #39 closed, assigned to xabolcs

[2012-10-17 16:06] #25 closed, assigned to xabolcs

[2012-10-19 14:04] xabolcs opened #99 "'Save as...' in Screengrabber is broken due to Bug 795065 (Target Milestone: mozilla18)"
Reporter:
**JoeG** on [mozillaZine](http://forums.mozillazine.org/viewtopic.php?p=12387695#p12387695)

Regression Bug:
[Bug 795065](https://bugzilla.mozilla.org/show_bug.cgi?id=795065) - Add privacy status to nsDownload

STR:
- get Gecko 18 (or newer) based Application
- open ScreenShot Grabber window: `Nightly Tester Tools` / `Take Screenshot`
- push the `Save As...` button
- check Error Consle f

[2012-10-24 09:53] xabolcs opened #100 "Overlay Thunderbird's AppMenu - introduced in Tb 17"
[Bug 650170](https://bugzilla.mozilla.org/show_bug.cgi?id=650170) adds a button to Thunderbird UI which opens the Appmenu - known from [Firefox](http://blog.stephenhorlander.com/2009/12/windows-themeui-update/).

Nightly Tester Tools should overlay `<vbox id="appmenuPrimaryPane">` like in Firefox case!

[2012-10-24 15:33] xabolcs opened #101 "Overlay "appmenuPrimaryPane" without duplicating overlay code - populate NTT's menuitem at run-time in appmenu"
Overlaying with empty `menupopup` like below, and cloning the `menupopup` from `<menu id="nightly-menu">` would avoid overlay code duplications - see 59bccf64fb19 or even Issue #100.

[code]

[2012-10-26 13:44] #99 closed, assigned to xabolcs

[2012-11-04 23:53] xabolcs opened #105 "Fill 'Features' section in about:nightly automatically."
With other words: let it be in sync with the Nighly Tester Tools menuitem!

It would be nice if NTT would be able to check itself for features, and advertise only such features what are available to the user.

Currently NTT 3.3 displays the following:

For example with SeaMonkey it [doesn't](http://forums.mozillazine.org/viewtopic.php?p=10826597#p10826597) [have](http://forums.mozillazine.org/view

[2012-11-05 00:19] xabolcs opened #106 "Re-introduce Options dialog"
Options dialog was transformed to Titlebar Custiomization dialog and extracted into Nightly Tester Tools menuitem in commit https://github.com/mozilla/nightlytt/commit/5aa61340c5b8.

For example, the preference for Issue #92 could be included. Another checkbox for [`nightly.logging`](https://github.com/mozilla/nightlytt/blob/788d3fce7015/extension/modules/Logging.jsm#L72) could be also included.

[2012-11-05 02:00] xabolcs opened #107 "[customize-titlebar] Expose gfxInfo's results to 'Graphics Toolkit' variable"
Currently NTT 3.3 [doesn't care](https://github.com/mozilla/nightlytt/blob/788d3fce7015/extension/chrome/content/nightly.js#L41) too much to detect the `Graphics Toolkit`:

[code]

In the mean time Azure introduced, the successor of Cairo.
A trivial fix would be to change `"cairo"` to `"azure"` and close this issue. :)

But Azure has / would have a lot of backend.
So instead of a pure `"azure"` IM

[2012-11-05 08:11] xabolcs opened #108 "[customize-titlebar] Unable to revert changes if variables was added by clicking on the tree"
The [comment](http://forums.mozillazine.org/viewtopic.php?p=12448385#p12448385) below, from **tonymec** describes the problem:

And the [root cause](http://forums.mozillazine.org/viewtopic.php?p=12449147#p12449147) is:

[2012-11-10 18:24] xabolcs opened #109 "Make Titlebar Customization a little more effective - help User to "switch on" title displaying"
Firefox has `browser.tabs.drawInTitlebar` for ages. Thunderbird introduces `mail.tabs.drawInTitlebar` in 17.

Firefox have no title in the following cases:
- "Menu Bar" toolbar is off  + `drawInTitlebar` is enabled
- "Menu Bar" toolbar is off  + `drawInTitlebar` is disabled + no titlebar addon is installed

Thunderbird have no title in the following case:
- `drawInTitlebar` is enabled

SeaMonkey i

[2012-11-16 00:07] xabolcs opened #111 "Cleanup unused nightlyApp.storedTitle (practically from browser.js)"
_From Pull #104_.

**xabolcs** [commented](https://github.com/mozilla/nightlytt/pull/104#discussion_r2076304):

[2012-11-22 09:47] xabolcs opened #112 "[screenshot] Use the new nsIFilePicker::ShowAsync method."
From the _XPCOM_ section of **Jorge**'s [_Add-on Compatibility for Firefox 17_](https://blog.mozilla.org/addons/2012/11/08/compatibility-for-firefox-17/) post:

I didn't searched through the source, but at least the **screenshot** feautre uses `nsIFilePicker::Show`, which is going to deprecated in Firefox 17.

[2013-01-18 03:28] roytam1 opened #113 "[customize-titlebar] conditional labels"
I think it will be nice to have a foobar2000 $if() label so that people can show page URL if page title is blank, or not showing separator if page title is blank.

for now I can just hack browser.js and change tabTitle() to:

[code]

[2013-01-22 20:59] xabolcs opened #114 "Decide about Imgur API version 3"
See [documentation](http://api.imgur.com/)!

The Question is: should NTT support imgur API v3?

[2013-02-12 18:32] ferongr opened #115 "Last patch of Bug 755724 landed in Nightly 20130212 breaks Nightly Tester Tools' pushlog feature"
Mozilla/5.0 (Windows NT 6.1; WOW64; rv:21.0) Gecko/20130212 Firefox/21.0 ID:20130212031120

Simply expanding the NTT menu from the Firefox menu triggers an error in the console.

[code]

From a cursory inspection, the "Open pushlog" command doesn't do anything.

[2013-02-13 09:45] xabolcs opened #117 "Some crashtest of Crash me Now! doesn't crash application!"
For example **ObjC Exception!** crashes only under Mac OS X by definition.

See original [Bug 837540](https://bugzilla.mozilla.org/show_bug.cgi?id=837540)!

My propose is to hide those menuitems.

[2013-02-19 14:33] #95 closed, assigned to xabolcs

[2013-02-21 09:05] xabolcs opened #118 "Follow Bug 836758 - Convert Panorama into an add-on and remove it from Firefox"
Original bug is [Bug 836758](https://bugzilla.mozilla.org/show_bug.cgi?id=836758)

See also the mozillaZine [thread](http://forums.mozillazine.org/viewtopic.php?f=23&t=2652161)!

[2013-02-25 10:52] #118 closed, assigned to nobody

[2013-03-09 00:14] xabolcs opened #121 "[customize-titlebar] Update treeView code not to use nsISupportsArray"
`nsISupportsArray` is going to be [removed soon](https://bugzilla.mozilla.org/show_bug.cgi?id=792209).
If it lands it will **not** break the Customize Titlebar's [treeView](https://github.com/mozilla/nightlytt/commit/619675b9d840) - introduced in NTT 3.4!

The `nsITreeView` fix [landed](https://bugzilla.mozilla.org/show_bug.cgi?id=407956#c86) almost a week ago.

Please note about [comment 61](http

[2013-03-09 15:14] #94 closed, assigned to xabolcs

[2013-03-19 22:02] #121 closed, assigned to xabolcs

[2013-03-20 00:46] xabolcs opened #124 "[screenshot] Saving the image with the default name will overwrite "screenshot.png" without notice"
STR:
- open Screenshot Grabber window of Nightly Tester Tools
- click on the "Save As..." button
- click on the Save button on the FilePicker window to save the image with the default name
- click on the "Save As..." button again
- click on the Save button on the FilePicker window again to save the image with the default name
- **notice** the lack of the "overwrite / replace" confirmation dialog
-

[2013-04-03 13:02] zacc opened #125 ""Insert Build ID..." not working on Linux/Fx23.0"
This is failing on Fx23.0 (build ID 20130402071947) using the release channel of NTT. This is failing for both modes (copy to clipboard and copy to textbox).

Linux version is ubuntu 12.04.1 LTS

The chrome console error message after selecting the menu option is:

[code]

(Haven't tried any other menu options yet).

[2013-04-09 00:32] xabolcs opened #127 "Determine nightly.templates.buildid default preference at Application startup"
Mozilla Applications in Ubuntu and Debian (and maybe in other distros) do not have `SourceStamp` key in the `application.ini` file.
The new `${CSet}` string (introduced in v3.4 by #65) in the build ID doesn't have an added value for those Users:

Revert it back for them to the v3.3 value!

[2013-04-13 10:54] #112 closed, assigned to xabolcs

[2013-04-13 12:58] xabolcs opened #128 "Anonymize nightly and nightlyApp implementations to allow Components.* (Cc, Cu, ...) shortcuts be used"
[From](https://github.com/mozilla/nightlytt/pull/82#discussion_r3731249) pull #82 for _issue #52_:

**whimboo** wrote:

**xabolcs** wrote:

My proposal is that to implement `nightly` and `nightlyApp` as [anonymous function](http://mesquilla.com/2011/09/08/avoiding-namespace-leaks-in-event-handlers/comment-page-1/#comment-2958)s,
and export the defined variable to `window` like below:

[code]

[2013-04-14 10:14] xabolcs opened #129 "Extract Gecko repository informations from about:buildconfig's Source section"
In Thunderbird and SeaMonkey the SourceStamp from `application.ini`
is different from changeset which on `about:buildconfig` page can be found.

For example, see @tonymec's buildid template in his [comment](https://github.com/mozilla/nightlytt/issues/125#issuecomment-15859094) below!
He uses both changeset as " ..... c-c:0123456789ab m-c:456789abcdef"

This issue is all about this:
make @tonymec's

[2013-04-16 00:17] #52 closed, assigned to xabolcs

[2013-04-16 00:21] #125 closed, assigned to xabolcs

[2013-04-19 06:37] xabolcs opened #130 "Release version 3.5"
Steps to do:
1. Update changelog
2. Bump version to <del>`3.4`</del> `3.5` and update <del>compatibility</del> [application versions](https://addons.mozilla.org/pages/appversions/)
3. Open a pull request
4. r?
5. r+
6. Land the request
7. Create `v3.5` tag on the landed commit
8. Release to AMO

Optional steps
1. Open a new Pull request with bumping version to `3.6pre`

[2013-04-24 12:02] #115 closed, assigned to xabolcs

[2013-04-25 09:15] #130 closed, assigned to xabolcs

[2013-04-25 10:58] xabolcs opened #133 "[AMO validation] JavaScript Compile-Time Error for the preference files"
From AMO validation:

Affected files:
- `defaults/preferences/nightlytools.js`
- and `defaults/preferences/variables.js`

Problem:
`#` is not a valid comment character in JavaScript.

[2013-04-28 00:07] xabolcs opened #136 "Use nightlyApp.oldUpdateTitlebar with getter / setter in browser.js"
See [comments](https://github.com/mozilla/nightlytt/pull/104/files#r2063555) in pull #104!

[2013-05-01 21:08] tonymec opened #140 "Make dtd entities for customize titlebar more localization friendly"
Entities <tt>nightly.customize.label</tt> (defined by _extension/chrome/locale/en-US/nightly.dtd_) and <tt>nightly.customize.title</tt> (defined by _extension/chrome/locale/en-US/customize.dtd_) are both defined as <tt>"Customize Titlebar"</tt>. Either the duplication is intentional, in which case a <tt>&lt;!-- LOCALIZATION NOTE --&gt;</tt> would be useful to say which means what; or it isn't, in

[2013-05-03 10:10] #133 closed, assigned to tonymec

[2013-05-07 09:00] #31 closed, assigned to xabolcs

[2013-05-24 09:03] xabolcs opened #141 "[customize-titlebar] Implement full Seamonkey support in titlebar customization"
_Refiled from #31 - the basic support._

@tonymec and I talked a little bit on [mozillaZine](http://forums.mozillazine.org/viewtopic.php?f=23&t=2015603&start=15) about how to support Seamonkey.
It isn't trivial. SM has got two window types, at least. :)

Depends on #20 - wait for it's "output", and reuse from modules as much as possible.

Not sure about composer support.

This issue **is not for**

[2013-05-24 20:18] xabolcs opened #142 "[l10n] Create locales and upload to Babelzilla"
Create localization templates, and register them in `chrome.manifest`.
Upload to Babelzilla after that.

But first of all, do a poll about which locales should be included.
Or simply include the top 3 from [AMO](https://addons.mozilla.org/en-US/firefox/addon/nightly-tester-tools/statistics/?last=90). :-)

[2013-06-02 20:23] xabolcs opened #143 "[l10n] Include updated locales from BabelZilla for version 3.6"
(Included) locales at BabelZilla:
- [x] zh-CN
- [ ] ... ?

[2013-06-20 20:55] xabolcs opened #147 "Release version 3.6"
Steps to do:
1. Update changelog
2. Bump version to `3.6` and update [application versions](https://addons.mozilla.org/pages/appversions/)
3. Open a pull request
4. r?
5. r+
6. Land the request
7. Create `v3.6` tag on the landed commit
8. Release to AMO

Optional steps
1. Open a new Pull request with bumping version to `3.7pre`

[2013-06-24 17:12] #124 closed, assigned to xabolcs

[2013-06-24 17:31] xabolcs opened #148 "[screenshot] Remember last selected filetype in filepicker"
From the pull request #146:

**whimboo** wanted to switch default to `jpg`:

**xabolcs** proposed:

[2013-07-17 18:36] #140 closed, assigned to tonymec

[2013-08-06 00:44] #143 closed, assigned to xabolcs

[2013-08-06 00:46] #147 closed, assigned to xabolcs

[2013-09-15 01:13] Apollo702 opened #151 "New user agents needed."
NTT is great but it looks like it is overdue for some user agent updates. It sounds kinda silly but you may as well list up to 10000000000000000000000000000000000000000 with all of this rabid-release nonsense.

Anyways, Thank you in advance and have a great weekend!

[2013-09-19 09:21] fitfat opened #152 "[customize-titlebar] Tabs, groups and windows count"
Some titles vars to count the numbre of tab, group and window open in current group, window and navigator. Like Mr Tech Toolkit extension.

[2013-09-27 07:13] SpiritWolfe opened #153 "Build Identifier Toolbar Icon"
To whom it may concern:

Your tester tools have been a nice addition to Firefox...even though I am not a programmer of sorts. Anyway, I would like to utilize your Build Identifier to insert the current Firefox program build information into an email to send to developers that I feel that are locking up Firefox towork to its full potential.

Unfortunately, your Build Identifier WILL NOT insert the

[2013-10-02 11:48] xabolcs opened #154 "SeaMonkey doesn't have "Build Identifier" Toolbar Icon"
In the talk about toolbarbuttons in #153, we realized that NTT doesn't provide a toolbarbutton for SeaMonkey, see below:

**tonymec** wrote:

**xabolcs** wrote:

[2013-10-02 16:09] SpiritWolfe opened #155 "That sounds good..."
I think that is a good idea wimboo...

[2013-10-02 18:40] #155 closed, assigned to nobody

[2013-10-10 18:34] xabolcs opened #157 "Move NTT appmenu entry for Firefox into the second menu under Addons"
**whimboo** wrote in #156:

[2013-10-12 14:13] #154 closed, assigned to xabolcs

[2013-10-12 14:14] #100 closed, assigned to xabolcs

[2013-10-12 14:19] xabolcs opened #159 "Release version 3.7"
Steps to do:
1. Update changelog
2. Bump version to `3.7` and update [application versions](https://addons.mozilla.org/pages/appversions/)
3. Open a pull request
4. r?
5. r+
6. Land the request
7. Create `v3.7` tag on the landed commit
8. Release to AMO

[2013-10-12 14:33] #153 closed, assigned to xabolcs

[2013-10-12 14:53] xabolcs opened #160 "[l10n] Include updated locales from BabelZilla for version 3.7"
translated BabelZilla locales:
- [ ] zh-CN
-  [x] sv-SE

[2013-10-15 05:44] tonymec opened #161 "Make ready to (someday) remove calls to deprecated methods"
See https://addons.mozilla.org/en-US/developers/addon/nightly-tester-tools/file/230591/validation#compatibility-tests for details.

Those calls to deprecated methods are necessary for support of "earlier" Gecko/Toolkit versions, but the fact that they are deprecated means that their removal is foreseen in some future version of Firefox (and presumably Thunderbird and SeaMonkey too).

I don't have

[2013-10-23 10:54] #157 closed, assigned to nobody

[2013-10-23 21:59] xabolcs opened #165 "Basic support for Nightingale"
Songbird is [discontinued](http://slashdot.org/submission/2728691/poti-creators-of-the-songbird-media-player-are-calling-it-quits) [since June 28, 2013](https://web.archive.org/web/20130913155351/http://blog.songbirdnest.com/you-gotta-know-when-to-fold-em/). It's open source alternative is [Nightingale](http://getnightingale.com/).
We should support it.

[2013-10-29 23:19] #160 closed, assigned to xabolcs

[2013-11-04 19:32] #159 closed, assigned to xabolcs

[2013-11-21 14:15] whimboo opened #166 "Make NTT ready for Australis"
So the Firefox button has been replaced by a panel like UI. We will have to update NTT to support both paths. For changes we should be aware of see:

https://developer.mozilla.org/en-US/Firefox/australis-add-on-compat-draft

[2014-02-06 17:14] tonymec opened #167 "Add NTT submenu to Mail-Compose "Tools" menu"
I propose to add a submenu, or at least a menuitem (depending on what is deemed useful) in the Tools menu for the SeaMonkey or Thunderbird mail-compose window. _(I don't know whether the chrome URL is the same for both.)_

Not very important, and we might not want to make it identical to the Browser submenu — I think some items would be irrelevant.

One menuitem which I think **is** relevant is "I

[2014-09-18 08:04] xabolcs opened #170 "Make NTT ready for E10s (multi-process)"
For example you are unable to insert build ID / extension list into textbox, because the focus isn't detected.

[2014-09-29 11:47] xabolcs opened #172 "Sort variables alphabetically in customize.js"
See [review comment][1]!

[1]: 171#discussion-diff-18148430

[2014-10-01 13:09] KOLANICH opened #176 "Why don't you use FormData instead of multipartFormData.js?"
Why don't you use [FormData](https://developer.mozilla.org/en-US/docs/Web/API/FormData) instead of multipartFormData.js?

[2014-10-01 15:41] aleksejrs opened #178 "screenshot.zoom.label string in the locales is found nowhere else"
It is not used.

[2014-10-02 08:57] xabolcs opened #179 "${TabTitle} is empty for SeaMonkey 2.1a1"
It's empty for Mozilla/5.0 (Windows; U; Windows NT 6.1; WOW64; en-US; rv:1.9.3a5pre) Gecko/20100511 SeaMonkey/2.1a1 ID:20100511025132 CSet: aeffd9b13925

[2014-10-02 10:06] whimboo opened #180 "Clean-up code for non-supported application versions"
We should finally think about to clean-up the code of NTT for application versions, which are no longer officially supported. We have a lot of those things, which are getting carried along and require us to implement e.g. wrappers for backward compatibility. Removing all those should make our code more clean.

[2014-10-02 10:07] #180 closed, assigned to nobody

[2014-10-07 07:49] whimboo opened #181 "Update development section of readme to get rid of Bugzilla content"
Already a while ago we got rid of Bugzilla and handle our bugs and reviews on Github. Sadly we missed to update the readme et all for this move. We should do it to make it easy enough for contributors to help us, and find the appropriate tasks to work on.

[2015-01-10 20:51] tonymec opened #182 "${Changeset} is Undefined in Firefox 31.4.0esrpre ("34.0.5")"
Mozilla/5.0 (X11; Linux x86_64; rv:34.0) Gecko/20100101 Firefox/34.0 ID:2014112600 CSet:8274648ad79f

NTT 3.7: ${Changeset} is Undefined

NTT 3.7pre20131013: ${Changeset} is still Undefined but ${PlatformChangeset} has the correct value.

=> Workaround: Downgrade to the development version and replace ${Changeset} by ${PlatformChangeset} wherever it appears in preferences nightly.templates.buildid

[2015-01-10 21:27] tonymec commented on #182
Oops, I did something wrong. Let me check.

[2015-01-10 21:50] tonymec commented on #182
By mistake I had loaded the Firefox version 34.0.5 from the openSUSE distro.

Fx 31.4.0esrpre from Mozilla has the correct (and equal) value in both ${Changeset} and ${PlatformChangeset}, as follows:
Mozilla/5.0 (X11; Linux x86_64; rv:31.0) Gecko/20100101 Firefox/31.0 ID:20150110000735 CSet:c34347a324e6

I'm closing this "wontfix" for lack of an "invalid" label.

[2015-01-10 21:50] #182 closed

[2015-01-16 08:50] ritwikmishra commented on #172
Hello everyone please tell me how to proceed in order to solve this bug? I think the steps are [1] fork the repo [2] find contribute.js [3] just sort the variables alphabetically
But my first doubt is "Where is contribute.js?"

[2015-01-16 09:07] xabolcs commented on #172
You need to find `customize.js` not <del>`contribute.js`</del>! :)

[It][1] is on path `extension/chrome/content/titlebar/customize.js`!

After step `2`, and before step `3` (start coding) please open a new branch, and working on that. Some talking name would good for it, for example `issue-172`, `sort-titlebar`, ...

[1]:https://github.com/mozilla/nightlytt/blob/master/extension/chrome/content/ti

[2015-01-16 09:21] ritwikmishra commented on #172
I am sorry to bother you with such a stupid doubt, I opened the "review comment" on this page and found the path. I have branched offf with "issue-172" and found `customize.js` I think the tabs which need to be sorted are from `line 86` to `line 105`
If the tabs are static I think they can be sorted manually, isn't it? All the variables can be placed in an array and then sorted but is there a need

[2015-01-16 09:26] xabolcs commented on #172
Hello! :)

It's no problem!

The source code (the `customize.js`'s `L86-L105` range) itself should be sorted! For readability and for coding style.

There are no stupid question!

[2015-01-16 10:09] ritwikmishra commented on #172
I followed all the steps (made a branch named "issue-172" also) and sorted the `L86-L105`. Should create a pull request now?

[2015-01-16 10:13] xabolcs commented on #172
Yes, that's the next step!

[2015-01-16 10:22] ritwikmishra commented on #172
Does it mean I patched the problem and fixed the bug?

[2015-01-16 10:25] xabolcs commented on #172
You have provided a patch in PR#183, that resolves the problem. That PR should be reviewed and if it got accepted, it will land.

After that landing would this issue get closed.

[2015-01-19 10:27] xabolcs commented on #172
Fixed by the referencing commit 6f1c7e88ab9a4c35c8d44a3cd8cab8b170656112.

Thanks @ritwikmishra for your contribution!

[2015-01-19 10:27] #172 closed

[2015-03-11 06:59] roytam1 opened #184 "supporting Pale Moon"
Change of chrome.manifest is needed. Adding:

[code]

[2015-03-11 08:39] xabolcs commented on #184
Thanks @roytam1!

Do you think this would be enough to help for [fady005][1] at AMO?

[1]: https://addons.mozilla.org/en-US/firefox/addon/nightly-tester-tools/reviews/674718/ "Not working"

[2015-03-11 08:48] xabolcs commented on #184
Hmm, it helps! Thanks again.

[2015-03-11 09:03] xabolcs commented on #184
@whimboo

Should we duplicate `browser.(js|xml)` to it's Palemoon files (e.g. `palemoon.(js|xml`)?
`browsee.*` currently works for Palemoon, so this could be a one liner fix.

[2015-03-11 10:23] whimboo commented on #184
Hm, good question. Maybe that's a good idea to duplicate the file. Just in case they are making changes to their browser in the future. So I assume the one-line change is for the manifest?

Thanks for having a look into this.

[2015-03-11 10:43] xabolcs commented on #184
Yes, if I update `chrome.manifest` with the proposed change from @roytam1, PaleMoon support is done. :)

No extra changes are needed for `browser.*`.

IMHO it's a good idea to duplicate, because PaleMoon doesn't merged Customizable UI and still have an AppMenu for example.
My downloaded PaleMoon is 25.2.1 and based on Gecko 31.9:
`Mozilla/5.0 (Windows NT 6.1; WOW64; rv:25.2) Gecko/20150122 Firefox

[2015-03-11 10:46] xabolcs commented on #184
It would be nice to disable repo related features. Like this `CSet: Undefined`.

[2015-03-11 11:04] whimboo commented on #184
How does the application.ini and platform.ini file of palemoon look like?

[2015-03-11 11:12] xabolcs commented on #184
`application.ini`:
[code]

`platform.ini`:
[code]

[2015-03-11 13:35] whimboo commented on #184
Given that we share the variables it might not be that easy. I think it is ok to leave all of them and users of Palemoon have to accept `undefined`.

[2015-03-11 14:09] xabolcs commented on #184
`undefined` is OK to me, but this `CSet: Undefined` comes from default pref `nightly.templates.buildid`.
I propose an installtrigger to strip `CSet` out from template pref.

Interestingly PaleMoon have no built-in install trigger like "install-event-fired" like Firefox.

OMG, this is only for UserAgent... It has Gecko version 25.2.1.

[2015-03-11 14:35] roytam1 commented on #184
I doubt it. It seems to be 24 ESR with custom fixes. And it reports to addons.mozilla.org with version 24.9.

[2015-03-11 14:51] xabolcs commented on #184
Thanks for the clarification.

[2015-03-12 08:09] whimboo commented on #184
I wouldn't make it that complicated. For this issue just add the necessary files and changes. In a follow-up issue we might want to add the feature to set default variables for different applications. How does that sound?

[2015-03-12 08:12] xabolcs commented on #184
Sounds good! Thanks!

[2015-04-25 15:30] Cai0407 opened #185 "enble "Open pushlog between last and current builds" on beta releases"
"Open pushlog between last and current builds" menu is not appeared on beta releases.
Here is the patch to show this menu on Firefox/Thunderbird/SeaMonkey beta releases.

    diff -r -U 3 content/browser.js content-mod/browser.js
    --- content/browser.js	2013-10-24 01:51:02.000000000 +0900
    +++ content-mod/browser.js	2014-06-29 03:26:26.536673600 +0900
    @@ -4,7 +4,7 @@

     var nightlyApp

[2015-04-28 08:23] xabolcs commented on #185
Nice!

[2015-09-29 07:08] whimboo opened #188 "Port back code-changes from Utilu Nightly Tester Tools 3.7.1.1"
Similar to PR #186 this issue keeps track of the work for porting back all the changes as done in Utilu Nightly Tester Tools 3.7.1.1. @UtiluMark will work on it.

[2015-10-02 12:28] UtiluMark commented on #188
@whimboo What do you want to be the next change for me to port back in a new PR?

[2015-10-02 22:14] tonymec opened #190 "Please port ${PlatformChangeset} from beta to release"
I hope i'm not asking for something which has already been done during the month or two while I had no Internet connection.

Last I looked, the customization variable `${PlatformChangeset}`, which gives the mozilla-central (or -aurora, -beta, -release) Mercurial changeset on applications like Thunderbird and SeaMonkey, where `${Changeset}` is the comm-central (or -aurora, -beta, -release) changese

[2015-10-03 02:10] xabolcs commented on #190
Hi @tonymec!

There is no need to rerequest this feature. GitHub doesn't have a voting feature, but you could always comment on any issue! :)

The issue for `${PlatformChangeset}` is at #129, the PR is at #137.

PR review is stucked, I could continue addressing comments if anybody would have the time to review.
Sadly @whimboo is currently the only peer.

Please continue the talk in #129! Closing t

[2015-10-03 02:10] #190 closed

[2015-10-05 09:39] whimboo commented on #188
I think all the customize titlebar changes would be nice to have next.

@xabolcs what do you think about removing partially translated locales? I don't think it's a good idea and we might better get in contact with the contributors who originally provided those locales. @UtiluMark which locales would be affected by this?

[2015-10-05 10:13] xabolcs commented on #188
I agree with you @whimboo.

A new issue for updating locales would be good, but first land all functional changes and leave the string update at last.

[2015-10-05 10:53] whimboo commented on #188
Sounds perfect to me. @UtiluMark once you finished with the parts of my last comment, lets re-list all the remaining issues in a new comment. That way we can get an overview what's left to do.

[2015-10-05 13:28] UtiluMark commented on #188
@xabolcs I agree, all translations will be outdated because of the added customize titlebar options, so let's leave the translations as they are, until everything else is finished.

@whimboo I've just created PRs for the smaller changes. Once these are out of the way, I can start working at the large PR with all the customize titlebar changes.

I have a question about the customize titlebar change

[2015-10-05 14:21] xabolcs commented on #188
I vote against changing default templates. Additions are welcome.

@UtiluMark, I saw in your original PR you transformed Nightly Tester Tools into Utilu Nightly Tester Tools. It's OK to do that as a forked extension in your (corporate) account, but don't want to merge those changes back into this repository.

As you rename it and give it a new UUID it would be a whole new extension.
Feel free to d

[2015-10-05 15:25] whimboo commented on #188
@UtiluMark best you add a comment to each of those PRs and include @whimboo, so that I also get an email for them. Otherwise I won't notice them for a while.

As @xabolcs said, lets add the new variables but leave the default template as it is. You can change the latter in your fork instead.

[2015-10-05 15:44] UtiluMark commented on #188
@whimboo Thanks, I've just done so in PR #191 #192 #193 #194 #195 and #196.

After that I will start the large PR with the additional customize titlebar options, without changing the defaults.

[2015-10-05 18:41] whimboo commented on #188
Thanks! @xabolcs if you have the time and want to review PRs please do so. Otherwise I will go through them tomorrow morning.

[2015-10-06 03:53] UtiluMark commented on #188
@xabolcs I removed the copy to Pastebin functionality which had become non-working due to API changes, and replaced the non-working copy to Pastebin functionality by copy text to Clipboard functionality ("Copy about:support to Clipboard"). Is this a desired change or not? Because in issue #86 you wrote on 9 Feb 2014 that the development channel had a fix which uses pastebin.mozilla.org instead pas

[2015-10-06 04:26] UtiluMark commented on #117
On Windows 10, the last three Crashme options (listed below) do not cause a crash:
1. "Pure virtual call!"
2. "Invalid parameter to CRT method!"
3. "ObjC Exception!"
Quite a few changes have been made in the Crashme extension in the meantime:
https://github.com/luser/crashme/commits/master

[2015-10-06 07:45] whimboo commented on #117
I would say lets upgrade to the newest release then! :)

[2015-10-06 13:28] xabolcs commented on #188
@UtiluMark, the fix in PR #93 does work, just need to be finished. No need to remove it for now.
Thanks!

[2015-10-06 22:14] tonymec commented on #117
Just FYI, I don't feel much concerned since on Linux where I am, a bogus crash can be triggered with no need for an extension, by means of the "kill" utility which sends the program an arbitrary signal. "kill -4" (SIGILL = illegal operation code) has my preference as something that is almost never seen as the result of a bug, but "kill -11" (SIGSEGV = segment boundary violation) will also trigger

[2015-10-12 15:43] UtiluMark commented on #188
@whimboo Could you take a look at PR #195, #196 and #198?

[2015-10-14 01:46] tonymec opened #199 "${Changeset} unknown in Firefox (but ${PlatformChangeset} is known)"
UA:"Mozilla/5.0 (X11; Linux x86_64; rv:41.0) Gecko/20100101 Firefox/41.0" (en-US) ID:2015091800 CSet:78c82e5cd777

Tested with both the "stable" version 3.7.1-signed from AMO, and the "development" version 3.7pre20131013. Both give "Undefined" for ${Changeset}. The "development" version gives a reasonable value for ${PlatformChangeset}, as shown above with a "customized" nightly.templates.buildid

[2015-10-15 09:05] xabolcs commented on #51
This is the original beta pushlog issue.

A few years ago there was a timeout problem, now that was fixed.

Cc @whimboo, @Cai0407.

[2015-10-15 09:06] xabolcs commented on #185
Closing this as it moved to PR #197, and the original issue is #51.

[2015-10-15 09:06] #185 closed

[2015-10-15 09:56] UtiluMark commented on #188
@xabolcs It's good that the Pastebin functionality will get fixed. I had replaced the non-working copy to Pastebin functionality by copy text to Clipboard functionality ("Copy about:support to Clipboard"). Now that the Pastebin functionality will get fixed: shall I turn the Copy about:support to Clipboard option into an additional option (besides to the Pastebin option), or shall I remove it?

[2015-10-15 10:32] xabolcs commented on #188
It's OK to me to keep both item in the menu! @whimboo, do you have any thoughts?

[2015-10-15 10:50] xabolcs opened #201 "Use about:support's own method to copy text to clipboard and use current implementation as a fallback"
See subject for now.

[2015-10-16 00:32] xabolcs commented on #201
Something like this for Firefox.

[code]

[2015-10-16 16:31] whimboo commented on #188
Sounds good to me. When we do that lets add the new option at the place where the pastebin one is located at right now. The pastbin entry should then be separated with a line.

[2015-10-17 16:54] xabolcs commented on #51
Fixed by the commit 60e1ba747c321fe7012a2793d77b495da5a6ac4e above.

[2015-10-17 16:54] #51 closed

[2015-10-19 11:18] xabolcs commented on #188
PR #196 landed.

[2016-01-07 03:36] tonymec commented on #199
Let's try in more detail than in the above comment. My default Firefox, living at /usr/local/firefox/firefox with /usr/local/bin/firefox pointing to it, is now the latest trunk nightly from Mozilla. I still have the current openSUSE build (now at openSUSE release Leap 42.1) but after it in the $PATH: /usr/bin/firefox points to /usr/lib64/firefox/firefox.sh

This:

UA:"Mozilla/5.0 (X11; Linux x86_6

[2016-01-07 04:00] tonymec opened #202 "If xabolcs/nightlytt/branch-issue-129-platform-changeset is regarded as "not yet ready to be merged into mozilla/nightlytt/master", then please consider publishing a new "development" build at AMO."
I notice that the "development build" available at AMO is at version 3.7pre20131013, i.e., built a little more than 2 years ago.

I also notice that xabolcs/nightlytt/branch-issue-29-platform-changeset has recently (November 10 IIUC) been the target of merges from mozilla/nightlytt/master.

Putting two and two together, I get only three-and-a-half, which leads me to ask: Shouldn't this new version

[2016-01-07 04:58] tonymec opened #203 "Obsolete links in README.md"
The **Development** section of the **README.md** for this package still links (twice) to BMO "Other Applications/Nightly Tester Tools" Product/Component, which is long obsolete (the Component has been moved to some (then newly created) "Other Applications Graveyard" product, and bugs are now to be opened on github as **issues** and **pull requests**). The "wiki" link, OTOH, seems to be all right A

[2016-01-07 12:34] whimboo commented on #199
As far as I know both OpenSuse and ubuntu strip of the changeset from the file application.ini. Can you have a look if opensuse leaves the platform.ini file in the directory?

[2016-01-07 18:17] tonymec commented on #199
There is a platform.ini (at <tt>/usr/lib64/firefox/platform.ini</tt>) but I don't see any CSID in it. Here is its full text:
<pre>
; This file is not used. If you modify it and want the application to use
; your modifications, move it under the browser/ subdirectory and start with
; the "-app /path/to/browser/application.ini" argument.
[App]
Vendor=Mozilla
Name=Firefox
RemotingName=firefox
Version

[2016-01-14 19:43] whimboo commented on #199
I might have to check the code but it looks like that we do not correctly check if a specific key is not present, or have a sane fallback value.

[2016-01-19 21:48] xabolcs commented on #199
Hello there!

I was able to reproduce this with Suse 11 & with the distributed Firefox ESR 17.0.4.

As @tonymec wrote there is no information about Application's `SourceStamp` but only Platform's.

The only question here is what to do in this case ... when AppSourceStamp is undefined and PlatformSourceStamp is defined.
Should App fallback to Platform? It's OK to me.

[2016-01-20 09:01] whimboo commented on #199
I think for Firefox it should not be a problem. But for Thunderbird and SeaMonkey we might not want to do it because those revisions are different, e.g. comm-central vs. mozilla-central.

[2016-01-20 09:12] xabolcs commented on #199
OK. I could adjust the logic accordingly in the pull request.

Thanks for the input!

[2016-05-05 14:47] benplumley opened #204 "Beta revision number not available for title"
On the beta channel, the version number (as shown in About Firefox) is eg 47.0b2. However, none of NTT's variables for window name show the "b2" part. They only show "47.0".

[2016-05-06 13:20] whimboo commented on #204
Interesting. We are getting the version via `this.appInfo.version`. And that clearly has not the beta version suffix. An additional check for the about window source shows me the following:

http://mxr.mozilla.org/mozilla-central/source/browser/base/content/aboutDialog.xul#48

`__MOZ_APP_VERSION_DISPLAY__` seems to be a placeholder which gets replaced during the build process of Firefox.

Because

[2016-05-06 22:05] tonymec opened #205 "Compatibility error: FUEL no longer supported in Fx47"
The automatic periodic compatibility check run by AMO found 4 Fx47-related errors in NTT 3.7, all for "FUEL library no longer supported, use add-on SDK instead." NTT developers listed as such with AMO can see the report at https://addons.mozilla.org/en-US/developers/addon/nightly-tester-tools/validation-result/532318

Of course, such an error is bogus if it concerns a snippet of code which is only

[2016-05-07 19:01] benplumley commented on #204
The General Data section of about:telemetry shows the variable application.displayVersion with value 47.0b3. I don't know if that's something that can be queried.

[2016-05-09 19:26] xabolcs commented on #204
Hi!

Telemetry's `application.displayVersion` traces into `TelemetryController.jsm`'s [`Impl._getApplicationSection()#384`][1]:
[code]
... where [`Appconstants`][2] can be imported with a `Cu.import`:
[code]

`AppConstants.jsm` was brought to you by [Bug 1124503][3] with milestone `mozilla39`.

It's OK to me to implement with `AppConstants.jsm` and fail silently if that isn't available.
Or put a `

[2016-05-09 19:27] xabolcs commented on #204
@benplumley, thanks for the Telemetry hint! :+1:

[2016-05-12 12:12] xabolcs commented on #205
**offtopic:**
Latest AMO version of NTT has a few broken feature on top of this FUEL stuff.

I wouldn't like to upload a version to AMO without fixing those.

[2016-05-12 12:12] xabolcs commented on #205
@tonymec, thanks for filing this issue! :)

[2016-05-12 12:22] xabolcs commented on #205
`nightlyApp` in `messenger.js` and `suite.js` use `Application`, which isn't [`FUEL`][1] but [`STEEL`][2] and [`SMILE`][3].

Seems like nothing to do here.

[1]: https://developer.mozilla.org/en-US/docs/Mozilla/Tech/Toolkit_API/FUEL
[2]: https://developer.mozilla.org/en-US/docs/Mozilla/Tech/Toolkit_API/STEEL
[3]: https://developer.mozilla.org/en-US/docs/Mozilla/Tech/Toolkit_API/SMILE

[2016-05-17 10:28] whimboo commented on #204
Great to see that AppConstants.jsm module. It would indeed be great to get it added.

[2016-05-17 10:44] whimboo commented on #205
We should get this into the next release which we might want to release soon. I would propose doing smaller releases for faster cycles.

[2016-05-17 16:50] xabolcs commented on #205
@whimboo, what do you think, how could this issue fixed?

[2016-05-17 20:01] whimboo commented on #205
I haven't actually worked with FUEL so far. Does it mean that all usages of `Application` are the problem? Where is that element defined or included?

[2016-05-17 20:12] xabolcs commented on #205
Not all, but the Firefox usages of `Application` are the problem.

Did you see my [comment][1]?

[1]: https://github.com/mozilla/nightlytt/issues/205#issuecomment-218740920

[2016-05-17 20:18] whimboo commented on #205
No, Firefox itself doesn't use Application anymore, it's NTT which still relies on it. Here a reference of what FUEL was able to deliver:

https://developer.mozilla.org/en-US/docs/Mozilla/Tech/Toolkit_API/FUEL

What we should do is to kill each line which is using `Application` and should make use of `Services.jsm` instead. I assume there should be equivalents available for all members of Applicat

[2016-05-17 20:24] xabolcs commented on #205
I mean `browser.js`' usages of `Application`.

[2016-05-17 20:27] whimboo commented on #205
You mean `nightly.js`? I cannot find the usage of `Application` in `browser.js`. So it would be good to post a listing of all its usage across our code. I could then propose alternatives to use.

[2016-05-17 20:53] xabolcs commented on #205
Ok, You really didn't get my [comment][1]. :)
Here is your `Application` usage [search][2].

[1]: https://github.com/mozilla/nightlytt/issues/205#issuecomment-218740920
[2]: https://github.com/mozilla/nightlytt/search?utf8=%E2%9C%93&q=Application+language%3AJavaScript

[2016-05-18 07:39] whimboo commented on #205
Your referenced comment didn't say anything about `nightly.js` which is used for Firefox. The comment only covers SeaMonkey and Thunderbird. Also it's still not clear to me which `browser.js` file you mean which makes use of `Application`. I cannot find any reference, really.

[2016-05-18 08:21] xabolcs commented on #205
`nightly.js` is included in all supported application. `browser.js`, `messenger.js` and `suite.js` is application specific files.
Therefore NTT uses only `nightly.js` and `browser.js` under Firefox. And in this context there area no reference to `FUEL`, as you found out in your last comment.

[2016-05-18 08:51] whimboo commented on #205
What's up with https://github.com/mozilla/nightlytt/blob/master/extension/chrome/content/nightly.js#L536 then?

[2016-05-18 08:53] xabolcs commented on #205
Ouch! Sorry! I searched with GitHub. :-1:

[2016-05-18 13:24] whimboo commented on #205
I see. My feeling is do not trust its search feature. A local `grep` is always better.

So it means we definitely have to get something fixed here. Good to see that we are on the same page now.

[2016-08-15 14:17] whimboo commented on #205
Hello @xabolcs! A long time has passed by. I wonder if you would be able to get this bug fixed. It meanwhile makes the add-on partly unusable. Please let us know. Thanks!

[2016-08-15 18:07] xabolcs commented on #205
I didn't get a time slice for this yet.

But taking this, for now.

[2016-08-18 11:10] whimboo commented on #205
PR #206 got merged. Thanks @xabolcs!

[2016-08-18 11:10] #205 closed

[2016-08-18 11:16] whimboo opened #207 "Release NTT version 3.8"
When all the dependencies have been fixed we will release a new version.

Steps to do:
- [x] Update changelog
- [x] Bump version to `3.8` and update [application versions](https://addons.mozilla.org/pages/appversions/)
- [x] Create `v3.8` tag on the landed commit
- [x] Release to AMO

[2016-08-18 11:20] whimboo commented on #170
Sadly we have to move this to our 3.9 schedule.

[2016-08-18 11:39] whimboo commented on #207
@xabolcs: while bumping min/max versions I noticed that the latest release of  Seamonkey was based on:

Would the changes we have made be incompatible with it, given that I said Firefox 45? Also we should remove Songbird from our list, given that the project is dead since 3 years.

[2016-08-18 11:48] xabolcs commented on #207
Only [`AppConstants.jsm`][2] was introduced.

[2]: http://mxr.mozilla.org/mozilla-central/source/toolkit/modules/AppConstants.jsm
[3]: https://bugzilla.mozilla.org/show_bug.cgi?id=1124503 "Bug 1124503 - move AppConstants.jsm to toolkit"

[2016-08-18 11:56] UtiluMark commented on #207
In Utilu Mozilla Firefox Collection, NTT is used to display the version number in the titlebar of Firefox 4.0.1 and higher. If a change breaks the compatibility with older versions of Firefox, that would mean having to include multiple NTT versions. Is that really necessary?

[2016-08-18 12:05] xabolcs commented on #207
In the long term NTT would be restartless and would support the last (or sometimes the last two) version of ESR Firefox.

[2016-08-18 14:05] whimboo commented on #207
Why Firefox 4.0.1? You know that this version is not only outdated and unsupported but also full of security issues these days. Absolutely no-one should use such an old version anymore. That said, I do not see why add-ons should keep compatibility way down this road.

[2016-08-18 14:07] whimboo commented on #207
That's indeed way better! So we can keep support for some SeaMonkey releases. Thanks.

[2016-08-18 15:49] UtiluMark commented on #207
@whimboo Utilu Mozilla Firefox Collection contains all major versions of Firefox and uses NTT to display the version number in the titlebar for Firefox 4.0.1 up to the latest Nightly. This is useful for web developers, so they can see how their websites look when rendered using different versions. If a necessary change in NTT breaks the compatibility with older versions of Firefox, multiple NTT ve

[2016-08-19 09:56] whimboo opened #209 "Remove fallback code prior Gecko 39.0"
With issue #207 we will bump the minVersion to 39.0. As result we can remove all the fallback code in our codebase. I think it's a lot and will reduce the code complexity a lot.

[2016-08-19 10:42] xabolcs commented on #209
How does this relate to Issue #161?

[2016-08-19 11:08] whimboo commented on #209
Looks like I like filing dupes! Thanks.

[2016-08-19 11:08] #209 closed

[2016-08-19 11:17] xabolcs commented on #161
- [ ] drop all fallback code prior Gecko 39.0
- [ ] use all the new feature which introduced in Gecko 39.0 or earlier and is still alive

[2016-08-19 11:37] tonymec commented on #161
OK. AFAIK the "oldest" browser still at the "stable release" state is SeaMonkey 2.40 (based on Gecko 43.0) and even that will be abandoned as soon as SeaMonkey 2.45 (based on Gecko 48.0) is ready for release. Hopefully soon, since 2.45 tinderbox-builds are aleady available, but en-US only AFAIK.

[2016-08-19 12:18] whimboo commented on #161
Correct. I think for now it is fine to remove all fallback code pre Gecko 43. I think that should be most of all the fallback code we have from the old pre 4.0 days.

[2016-08-19 12:29] xabolcs commented on #161
`43` is just a typo? If not, then an another `minVersion` bump is necessary.

[2016-08-19 12:31] whimboo commented on #161
Correct. Just a typo. Should have been 39.

[2016-08-19 12:57] xabolcs commented on #161
FYI [Firefox 39 for developers][1].

[1]: https://developer.mozilla.org/en-US/Firefox/Releases/39

[2016-08-19 15:35] whimboo commented on #207
PR #208 just got merged.

Tagged as 3.8:
https://github.com/mozilla/nightlytt/tree/v3.8

[2016-08-19 15:46] whimboo opened #210 "Make use of crashme-simple (without binaries)"
It might be that our 3.8 release of NTT will not pass review due to the contained binaries from the crashme extension. What we should do is to rely on the new [crashme-simple](https://github.com/luser/crashme-simple) extension which only makes use of ctypes.

I wonder if we even can completely get rid of the bundled version, and auto-detect that feature.

[2016-08-19 15:51] whimboo commented on #207
Uploaded the XPI to AMO for review:
https://addons.mozilla.org/en-US/firefox/addon/nightly-tester-tools/versions/?page=1#version-3.8

I will keep this issue open until it has been reviewed.

[2016-08-19 20:36] xabolcs commented on #210
+1 for the auto-detect feature.
And a menuitem to AMO site if not detected.

[2016-08-21 11:57] Endor8 opened #211 "Pastebin requires the use of the new api"
If you try to upload about:support to pastebin, from the context menu, you got only the message:
THIS API HAS BEEN DISABLED. Please use Pastebin's new API. http://pastebin.com/api.
Please fix this.
Thank you.

[2016-08-21 12:21] xabolcs commented on #211
Thanks for reporting!

[2016-08-21 12:26] xabolcs commented on #211
See issue #86! It has already patch, so it would be fixed in the next release , hopefully.

I'm closing this, because of duplicate.

[2016-08-21 12:26] #211 closed

[2016-08-22 04:45] Endor8 commented on #86
Since the pastebin issue is apparently well know since 2012 it would be
good if someone fix it finally.
Thanks

[2016-08-22 06:49] whimboo commented on #210
I would suggest that we use the same submenu item which is called "Crash me!". We only make it dynamic. In the case of crash me simple not installed, we could say "Install add-on from AMO" or such.

As a note, the new version of crashme can also crash the content process only, which would be very useful as testing ground for developers in e10s mode.

[2016-08-22 07:05] whimboo commented on #86
Yes, it bugs us for a while now. Lets try to get this fixed for the next 3.9 release.

[2016-08-23 07:25] whimboo commented on #207
Version 3.8 has been released! Thank you all for the help, it was a long overdue release!

[2016-08-23 07:25] #207 closed

[2016-08-23 07:32] whimboo commented on #188
PR #195 landed too. @UtiluMark, is everything done now for this issue or do we still miss a part?

[2016-08-23 10:17] UtiluMark commented on #188
@whimboo Like I said before https://github.com/mozilla/nightlytt/issues/188#issuecomment-145575689 I'm going to work on a new large PR with the additional customize titlebar options, without changing the defaults. This will also involve adding strings to all translation files.

[2016-08-23 11:54] whimboo commented on #188
That comment was a while ago. So thanks for the update on that.

[2016-08-23 17:56] UtiluMark commented on #188
@whimboo I've finished the new large PR with the additional customize title bar options: #212
Since one of the added customize title bar options is the Beta Revision, this also fixes #204

[2016-08-24 14:15] UtiluMark commented on #181
@whimboo I've created PR #213 to fix this. The links to bugzilla.mozilla.org are also mentioned in issue #203.

[2016-08-28 18:41] xabolcs opened #215 "Nightly Tester Tools 3.8: Error: ReferenceError: Cu is not defined"
[Ouch][1]!
[code]

Bad copy-paste!

[1]: https://github.com/mozilla/nightlytt/blob/v3.8/extension/chrome/content/suite.js#L100 "ReferenceError: Cu is not defined"

[2016-08-28 19:02] xabolcs commented on #215
Opening  a hotfix branch `3.8-hotfix` and landing this and release as `3.8.1`?

[2016-08-28 19:32] xabolcs commented on #202
I'm going to build and release a new beta build. :+1:

[2016-08-28 19:34] xabolcs commented on #202
I'll force update the beta branch to step over the long but useless history.

[2016-08-28 21:08] UtiluMark commented on #215
In https://github.com/mozilla/nightlytt/commit/f08b18fea1021eac835405b50b7ed0635f0b015a (#206) that same line

was added a second time as line 88 in [chrome/content/messenger.js](https://github.com/mozilla/nightlytt/blob/v3.8/extension/chrome/content/messenger.js#L88)

[2016-08-28 22:16] xabolcs commented on #215
Ouch! Thanks!

[2016-08-28 23:06] xabolcs commented on #202
Beta version [`3.9pre20160829`][1] is on AMO.

[1]: https://addons.mozilla.org/en-US/firefox/addon/nightly-tester-tools/versions/3.9pre20160829

[2016-08-28 23:06] #202 closed

[2016-08-29 12:03] whimboo commented on #215
Which applications are affected specifically by this bustage? Is it only SeaMonkey or also Thunderbird? I would suggest we get landed those patches which are close to be ready and simply release a version 3.9. We should also make sure to get tests added.

[2016-08-29 12:08] xabolcs commented on #215
Didn't test Thunderbird, but it should die too. SeaMonkey died.

[2016-08-29 13:02] whimboo commented on #215
PR #216 got merged. We should check what else we can merge into the 3.9 release.

[2016-08-29 13:02] #215 closed

[2016-08-29 13:03] whimboo commented on #181
PR #213 got merged.

[2016-08-29 13:03] #181 closed

[2016-08-29 13:06] whimboo commented on #204
@xabolcs, this looks like an easy thing to get added now that we have experience with AppConstants.jsm. Do you think we could fold this into the 3.9 release?

[2016-08-29 13:07] whimboo commented on #86
I think the patch is close to be ready to land. @xabolcs do you agree? Would be great to see it in the 3.9 release.

[2016-08-29 13:09] xabolcs commented on #86
I do agree! I will have some minor questions in the PR.

[2016-08-29 13:17] xabolcs commented on #204
Sure we could, but please see the conversation in PR #212, starting with [my comment][1]!

[1]: https://github.com/mozilla/nightlytt/pull/212#issuecomment-243001998

[2016-09-07 08:36] whimboo commented on #210
I currently need crashme-simple while working on [bug 1299216](https://bugzilla.mozilla.org/show_bug.cgi?id=1299216). So I will take this issue, and for now simply replace the old version with the new binary-less one. An auto-detect feature we can do later. Thing is that the extension only has toolbar buttons, but it would be nice to have access via the menu too.

[2016-09-07 22:09] xabolcs commented on #210
Taking back to milestone `3.9` as @whimboo started to work on it! :+1:

[2016-09-07 22:11] xabolcs commented on #210
Please file an issue for that! Thanks!

[2016-09-09 09:08] whimboo opened #218 "Investigate if an auto-detect feature for crashme would work"
As stated on issue #210 it might be nice to auto-detect an installed crashme simply extension and to use it's code to crash the browser or tab. This would stop us from having to duplicate the code too.

[2016-09-09 09:46] whimboo opened #219 "Add accesskeys for menu entries"
Right now navigating through the menu is hard. It would be nice to have accesskeys defined so single letters can be used to navigate. For the main menu entry I would propose to use "N" - at least for Firefox. Not sure if other applications make already use of it.

[2016-10-07 20:39] whimboo commented on #210
PR #217 got merged.

[2016-10-07 20:39] #210 closed

[2016-10-07 20:46] whimboo commented on #86
@xabolcs quick ping. Do you think you will have the time to work on this issue? If not we might want to get this pushed out to a later release so that we can finally get out 3.9. Thanks.

[2016-10-12 13:41] whimboo commented on #86
It looks like that @xabolcs is not around those days. I will move out this issue to 3.10 then.

[2016-10-12 13:44] whimboo opened #222 "Release version 3.9"
When all the dependencies have been fixed we will release a new version.

Steps to do:
- [x] Update changelog
- [x] Bump version to `3.9` and update [application versions](https://addons.mozilla.org/pages/appversions/)
- [x] Create `v3.9` tag on the landed commit
- [x] Release to AMO

[2016-10-12 13:48] whimboo commented on #215
Looks like the fix as landed here was not enough to fix NTT for SeaMonkey. I will file a new issue.

[2016-10-12 13:50] whimboo opened #223 ""AppConstants is not defined" for SeaMonkey"
Issue #215 tried to fix a regression but seems to have missed a piece:

We need this fix for the 3.9 release.

[2016-10-12 14:37] whimboo commented on #223
PR #224 got merged.

[2016-10-12 14:37] #223 closed

[2016-10-13 04:37] Cai0407 commented on #222
#226?

[2016-10-13 06:58] whimboo commented on #222
You are right. Lets try to get this locale also included. Sorry, that I missed it.

[2016-10-18 06:48] whimboo commented on #222
PR #226 got merged so we are good to proceed with the 3.9 release.

[2016-10-20 15:12] whimboo commented on #222
PR #225 has been merged. I will continue with the release process soon.

[2016-10-20 18:40] whimboo commented on #222
Tag for v3.9 created:
https://github.com/mozilla/nightlytt/tree/v3.9

[2016-10-20 18:52] whimboo opened #227 "The "newChannel" functions have been deprecated in favor of their new versions (ending with 2)"
From AMO when uploading the new release:

Warning: The "newChannel" functions have been deprecated in favor of their new versions (ending with 2). See https://developer.mozilla.org/docs/Mozilla/Tech/XPCOM/Reference/Interface/nsIIOService for more information.

[2016-10-20 18:53] whimboo opened #228 "Extension is not marked as compatible with Multi Process"
From AMO while pushing the new release:

[2016-10-20 18:58] whimboo opened #229 "Access to the `ctypes` global"
From AMO when pushing the new release:

[2016-10-20 19:08] whimboo commented on #222
Uploaded to AMO so it's under review now:
https://addons.mozilla.org/en-US/firefox/addon/nightly-tester-tools/versions/?page=1#version-3.9

[2016-10-24 07:47] whimboo commented on #222
The new version of the extension has been approved and is available on AMO now.

I also bumped up the version number to 3.10pre:
https://github.com/mozilla/nightlytt/commit/3b5ad93d1cad4b28faec8e4d2c3784775d9d82e1

[2016-10-24 07:47] #222 closed

[2016-11-04 08:44] whimboo opened #230 "Revert "Copy extensions to clipboard" to use new lines as separator by default"
From https://github.com/mozilla/nightlytt/pull/195#issuecomment-258186582.

With the change from new line to comma for separating extensions while copying them into the clipboard has been changed a behavior which users of the extensions were used to all the time. We should revert that to use new lines again. In a followup issue we can then make it configurable via the preferences screen or a hidde

[2016-11-04 08:47] whimboo opened #231 "Make separator for "Copy extensions to clipboard" configurable"
From https://github.com/mozilla/nightlytt/pull/195#issuecomment-241579738.

We should let the user define which separator to use for this feature. Best would be to have an option in the preferences or doing it via a hidden preference. Maybe the latter should be fine given that not that many people might want to change it, and then it will be done only once.

@xabolcs had an idea.

[2017-03-26 15:17] vanowm opened #234 "[REQ] Custom title for all type of windows"
Currently only browser window supported. Browser console, dom inspector windows, etc are not supported.

It would be nice have a new option that would allow force custom title on every type of window.

This would require use of [nsIWindowWatcher](https://developer.mozilla.org/docs/Mozilla/Tech/XPCOM/Reference/Interface/nsIWindowWatcher) instead of [in addition] to overlays.

[2017-04-04 11:27] whimboo commented on #170
So what we basically need now is a total rewrite of the extension to survive upcoming changes with Firefox 57. By that version all old-style extension won't work anymore.

I will file a new issue to specifically cover this part.

[2017-04-04 11:27] #170 closed

[2017-04-04 11:48] xabolcs commented on #170
I'm wondering which features of NTT could survive.
Looking forward for that new issue.

[2017-04-04 12:09] whimboo opened #235 "Rewrite NTT as webextension"
NTT is still an old-style extension which uses XUL overlays. This won't be supported anymore with Firefox 57. So what we need is a rewrite of the whole extension as [webextension](https://developer.mozilla.org/en-US/Add-ons/WebExtensions).

Not sure if everything which we currently support can be implemented, but we should try to get as much as possible ported over.

## So far I found those defici

[2017-04-04 12:11] whimboo commented on #234
The major issue we currently have is a missing rewrite of the whole extension. It needs to be a webextension because otherwise it will be end of life with Firefox 57 when old-style add-ons are getting disabled. Please see issue #235 for all the details.

[2017-04-04 12:12] whimboo commented on #170
I filed as issue #235.

[2017-04-04 15:55] tonymec commented on #235
Firefox 57 already! Does that mean all Toolkit 57 applications, or will there be a delay for Thunderbird and/or for SeaMonkey? IIUC, both Lightning and Chatzilla are also under the crosshairs.

[2017-04-04 16:19] whimboo commented on #235
I don't know if and when other toolkit applications will be affected. There might be similar blog posts like https://blog.mozilla.org/addons/2017/02/16/the-road-to-firefox-57-compatibility-milestones/ which explain the process.

[2017-04-04 20:03] pascalchevrel commented on #235
@whimboo I checked with marcia and a lot of our testers use this extension so a rewrite as a web extension, even with a reduced set of features, would be useful I think.

[2017-04-05 07:10] xabolcs commented on #235
Uhh-ohh, no Chatzilla for Fx57? That will be sad.

@whimboo, what about starting a new NTT fork?
There will be two repo, one for this webextension rewrite (e.g. `Nightly Tester Tools WebeExtension`), one for the toolkit applications (e.g. `Nightly Tester Tools for Toolkit`)? There is already an NTT for [Mobile](https://github.com/xabolcs/mobile-nightlytt). :)

I would like to keep supporting Thund

[2017-04-05 08:27] whimboo commented on #235
We will keep this repository. I don't see a need for another one. We will simply create a new branch while the webextension is under development. Later we can flip and keep a branch for the old-style add-on.

The biggest question for now is how we can manage the rewrite. As I mentioned earlier I most likely won't have the time to work on that. So we need some people to actually do the work.

[2017-04-05 09:21] xabolcs commented on #235
I don't see why should live two separate product in the same repo.

Anyway, I happily do the experiment. In the mean time it would be nice to define what should we call 'done' for this issue in the [description](#issue-219229357).

[2017-04-05 09:29] whimboo commented on #235
It will still be NTT. It's not a different product / fork. It's just built on a different code base. I strongly wish to be able to keep the current extension id if that is possible.

We will most likely have a couple of different PRs. Small ones are definitely appreciated so that development can proceed faster. If you would really have the time to work on that it would be fantastic! Maybe some oth

[2017-04-05 09:40] xabolcs commented on #235
It is. NTT-webex supports only Fx 57 and up with a feature set. NTT-toolkit supports anything but Fx57 and up with a more wider feature set (including UI) compared to the webex version.

OK, will provide a starter PR sometime.

[2017-04-06 13:19] UtiluMark commented on #235
The ability to change and customize the title of a window to include the exact version information is quite an essential feature of NTT for me. A WebExtension version of NTT without this feature wouldn't be very useful.

[2017-04-06 15:12] whimboo commented on #235
This rewrite is not optional, or based on personal opinions. It's something which has to be done, or the add-on will no longer exist. @UtiluMark, if you want to help to make the best out of it, I would appreciate that.

[2017-04-06 17:41] xabolcs commented on #235
It's not so simple, IMHO. If rewrite happens then the add-on will no longer exist for Toolkit Applications.

[2017-04-06 19:55] UtiluMark commented on #235
If the WebExtension version of NTT will get the ability to change and customize the title of a window I would like to help, but what I meant was that without this essential feature NTT just wouldn't be useful for me.

[2017-04-07 20:56] whimboo commented on #235
Maybe we should consider to create an Embedded WebExtension so that we can port the user data over to the new extension. Details are layed out here: https://blog.mozilla.org/addons/2017/01/20/migrating-to-webextensions-port-your-stored-data/.

I found https://bugzilla.mozilla.org/show_bug.cgi?id=1268020, which would allow us to use an entry under the `Tools` menu once implemented.

Btw. there are

[2017-04-07 21:32] xabolcs commented on #235
Users will lose lot more feature, not comparable to the user data. :trollface:

How about waiting for another year for more complete WebExtensions API? The [comparison table](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Comparison_with_XUL_XPCOM_extensions#Privileged_APIs) is full of _None_.
There are a some bugs which could be fixed for the non-Fx57+ users.

Anyway, the office hours

[2017-05-13 21:44] whimboo commented on #228
We have to fix this ASAP because NTT doesn't work anymore in latest Nightly. All addons which are not marked as multi-process compatible are disabled. Given that NTT worked fine so far with e10s enabled, we should simply add this option to the install.rdf.

I will get this added.

[2017-05-13 22:56] whimboo commented on #235
I experimented a bit today and will push something up to its own branch maybe tomorrow. As testing has shown the best option for now is to use the context menu API, even that our menu will be displayed only when doing a right click in the content. There is no support yet for real menus, and using a toolbar button only allows us to use a popup which needs much more work.

[2017-05-13 23:38] xabolcs commented on #228
Fix commited as b4e77b9319b93a522005602c44e58d2118bb1c17.

[2017-05-14 07:57] #228 closed

[2017-05-15 20:40] whimboo commented on #230
Given that @UtiluMark didn't fix it yet, I will do the revert now.

[2017-05-15 20:46] whimboo opened #238 "Release version 3.10"
When all the dependencies have been fixed we will release a new version.

Steps to do:
- [x] Update changelog
- [x] Bump version to `3.10` and update [application versions](https://addons.mozilla.org/pages/appversions/)
- [x] Create `v3.10` tag on the landed commit
- [ ] Release to AMO

[2017-05-15 22:28] whimboo commented on #230
PR #237 landed for the 3.10 release.

[2017-05-15 22:46] UtiluMark commented on #230
@whimboo The problem with #232 is that \n set as preference gets escaped and doesn't become a newline.

The problem with reverting is that issue #195 returns, as for example input fields don't support newlines, all extensions will get glued together. In #232 this is fixed by detecting this and using a comma instead of a non working new line (which means no separator) in that case.

[2017-05-16 06:06] whimboo commented on #230
Doh. Looks like we missed that indeed. So it should be fine when we leave the comma separated list for pasting into text fields, and keep the backslash for the clipboard. That way we can close the regression for external usage, and make it easier for handling this list inside of Firefox when directly pasting it into textboxes.

Does that sound fine?

[2017-05-16 08:39] UtiluMark commented on #230
@whimboo Yes, that sounds fine and that's how this is fixed in PR #232: by default only in case of input fields a comma is used (because input field don't support newlines and all extensions would get glued together), in all other cases (textarea, copy to clipboard for external usage) new lines are used.
[code]

[2017-05-16 09:15] whimboo commented on #230
I reverted the changes as pushed by backing out the changeset:
https://github.com/mozilla/nightlytt/commit/7cd79e2fda4db042edc3b49a6a1179323bd2f225

I will have a new PR in a moment.

[2017-05-16 10:51] whimboo commented on #230
PR #240 got merged and fixed the remaining issue @UtiluMark pointed out. Thanks for that!

[2017-05-16 10:51] #230 closed

[2017-05-16 11:49] whimboo commented on #238
Code has been tagged with v3.10: https://github.com/mozilla/nightlytt/tree/v3.10

I also uploaded the XPI to AMO for review.

[2017-05-16 11:49] #238 closed

[2017-06-12 12:09] whimboo commented on #235
@xabolcs I forgot to upload my experimental code which I was working on half a month ago. I created https://github.com/mozilla/nightlytt/tree/webextension on this repository now. It should be great to get started. The copy to clipboard feature is only half-wise implemented and misses the actual clipboard code.

Otherwise it includes:
* A context menu entry for all NTT related features (main menu n

[2017-06-18 02:48] yfdyh000 commented on #235
FYI:
[Bug 1333376](https://bugzilla.mozilla.org/show_bug.cgi?id=1333376) Feature request: a WebExtension API to change the window title REOPENED
[Bug 1268020](https://bugzilla.mozilla.org/show_bug.cgi?id=1268020) Implement "tools_menu" context ASSIGNED

[2017-06-20 17:59] harl opened #241 "NTT and add-on compatibility for Nightly 56"
NTT's option to force add-on compatibility doesn't seem to have the desired effect for me in Nightly 56.
I'm trying to transfer the add-ons most of which I'm actively using, from a rather oldish FF/Nightly profile to a new one to get rid of one or two UI issues/changes that got stuck sometime during the last couple months.

e10s is enabled and working in both profiles.
Some add-ons seem to install

[2017-06-20 19:15] whimboo commented on #235
Thanks. I updated the original comment with that info.

[2017-07-18 17:26] whimboo commented on #235
Just to update https://bugzilla.mozilla.org/show_bug.cgi?id=1333376 landed on mozilla-central today. As such we will be able to set a window title prefix with the webextension! \o/

Anyone who could help to port features over to the webextension?

[2017-07-18 18:21] tonymec commented on #235
At the moment (at least in SeaMonkey 2.53a1) having a WebExtension enabled causes a shutdown crash, see https://bugzilla.mozilla.org/show_bug.cgi?id=1379994

For this reason I had to downgrade Adblock Plus to version 2.8.2 and now every time that I check for add-on upgrades, the add-on manager displays an update to Adblock Plus which  have to deny. I don't want to have to "freeze" NTT updates for

[2017-08-04 04:25] kyoshino commented on #235
@pascalchevrel asked me on IRC to help the WebExtension port, so I just get started with a fresh repository at https://github.com/kyoshino/nightlyttr

[2017-08-04 04:50] whimboo commented on #235
@kyoshino this is fantastic! Please note that we already have https://github.com/mozilla/nightlytt/tree/webextension with working code. It's not that far yet, but you can continue there.

[2017-08-07 16:21] tonymec opened #243 "No titlebar customization in SeaMonkey 2.54a1 20170807003001"
Several entry points were removed tonight, other names have to be used instead, see https://groups.google.com/forum/#!topic/tb-planning/lbQIuLNv_2s for details.

No titlebar customization in NTT 3.9pre.20160829 (home-built with ${PlatformChangeset} etc. included).

ChatZilla is broken in an even worse way. I didn't check what else was broken and hurried the hell out to yesterday's nightly.

[2017-08-08 15:41] tonymec commented on #243
P.S. Tested again in the next nightly, 20170808003001.

"Customize Titlebar" dialog, toolbar button and Tools submenu are still present. Clicking the button to insert the build ID etc. to a textbox toes nothing.

First known bad:
20170807003001
https://hg.mozilla.org/comm-central/rev/eeb9fb0aac793072b54e7dec4b75988b6611133b
https://hg.mozilla.org/mozilla-central/rev/bb8de16ce00c

Last known good:

[2017-08-11 13:47] whimboo commented on #243
This is all about gecko 57 work and expected to fail. There is absolutely nothing we can and want to do here for the legacy NTT extension.

[2017-08-11 13:47] #243 closed

[2017-08-13 17:26] netllama opened #244 "incompatible with Firefox 57"
Starting in November 2017 (less than 3 months from today), Firefox 57 will only support extensions that are written to the WebExtensions standard.  This extension is currently incompatible.

Are there plans to add support for Firefox57, or will this extension die?

[2017-08-13 18:59] xabolcs commented on #244
This extension will die, as you know it, and will be rewritten as a webextension with minimal feature list.
See issue #235 for the details!

[2017-08-13 18:59] #244 closed

[2017-08-14 11:44] whimboo commented on #235
@kyoshino would you mind sharing with us which state the webextension has? Is there anything we should try out? I have a problem building the XPI locally with the `web-ext` tool because it always gives me a broken archive. Thanks.

Also please note that over the weekend we stopped supporting legacy extensions and only allow webextensions. You will see this in about:addons with nearly everything be

[2017-08-14 12:56] kyoshino commented on #235
I'll finish my port this week by investigating what can we do more with the limited API sets. The most things are already noted in your [initial comment](https://github.com/mozilla/nightlytt/issues/235#issue-219229357) though. Then I'll send a pull request to this repo to merge my folk, so it will be ready for publishing on AMO. I haven't used the web-ext tool yet  :blush:

[2017-08-16 18:06] whimboo commented on #235
That's great. Please let us know when we can have a first look at it and give feedback. By the first look I have seen that you haven't kept the entry in the tools menu. I would suggest we keep that given that users are using it since the beginning. In the toolbar we only had a button to easily access the copy/insert build id feature.

Regarding the web-ext tool, you should definitely use it. It ma

[2017-08-16 18:35] kyoshino commented on #235
Yeah I thought a toolbar button might be more handy but will take a look at how to add items to the Tools menu as well. [Bug 1268020](https://bugzilla.mozilla.org/show_bug.cgi?id=1268020) has been solved but not yet documented. Also, I'll probably add context menus to insert the build ID to a textbox.

[2017-08-16 19:25] whimboo commented on #235
As mentioned 13 days ago please have a look at https://github.com/mozilla/nightlytt/tree/webextension. This implements the tools menu already.

[2017-08-16 19:36] kyoshino commented on #235
Cool, thanks for the pointer.

[2017-08-17 00:16] kyoshino commented on #235
* Looks like Tools menu items cannot be added due to [Bug 1272869](https://bugzilla.mozilla.org/show_bug.cgi?id=1272869) that prevents clipboard access in the background script, as actually explained on [MDN](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Interact_with_the_clipboard#Browser-specific_considerations). It does work in the toolbar button's popup menu.
* Added context menu i

[2017-09-05 17:18] kyoshino opened #246 "Add SeaMonkey support to WebExtension"
From https://github.com/mozilla/nightlytt/pull/245#discussion_r136471537

I've got the following error while testing the new WebExtension in SeaMonkey.

If I remove the [`applications`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/applications) key, the extension can be temporarily installed via `about:debugging` but can't find toolbar button nor context menu. I guess Se

[2017-09-09 23:29] kyoshino commented on #235
So here's my initial attempt: https://github.com/kyoshino/nightlyttr/compare/experiment

This should work, but the installation fails likely due to a bug in Firefox. Will figure out the regression range.

[2017-09-12 17:46] kyoshino commented on #235
I just uploaded the WebExtension to the [beta channel](https://addons.mozilla.org/en-US/firefox/addon/nightly-tester-tools/versions/beta) on AMO. Give it a try!

[2017-09-12 20:46] Cai0407 commented on #235
Excellent! I have confirmed that NTT 4.0pre20170912 seems to work fine with Nightly 201709121000139 on Win7.

[2017-09-13 11:47] whimboo commented on #235
I merged PR #245 to master now. I will file new issues for things missing for the 4.0 release. Please check the 4.0 milestone issue list.

[2017-09-13 11:47] #235 closed

[2017-09-13 11:56] whimboo commented on #219
There is no tools menu at the moment for the upcoming rewrite of the extension. We can take care about this issue when the new tools menu is getting implemented at some time.

[2017-09-13 11:56] #219 closed

[2017-09-13 11:57] whimboo commented on #178
screenshots has been removed for the upcoming rewrite of the extension because Firefox has a built-in screenshot feature.

[2017-09-13 11:57] #178 closed

[2017-09-13 11:58] whimboo commented on #166
This issue is outdated now with the upcoming rewrite using the WebExtension API.

[2017-09-13 11:58] #166 closed

[2017-09-13 12:00] whimboo commented on #142
Localization will be different with the rewrite of the extension. So I don't think this is necessary anymore.

[2017-09-13 12:00] #142 closed

[2017-09-13 12:01] whimboo commented on #129
With the rewrite of the extension we have to rely on what the WebExtension API is handing us over. So if something is not working for that new release, please file a new issue for it.

[2017-09-13 12:01] #129 closed

[2017-09-13 12:02] whimboo commented on #136
With the rewrite all the code is gone.

[2017-09-13 12:02] #136 closed

[2017-09-13 12:04] #203 closed

[2017-09-13 12:05] whimboo commented on #151
Not a story anymore with the upcoming rewrite of the extension which is based on the WebExtension API.

[2017-09-13 12:05] #151 closed

[2017-09-13 12:07] whimboo commented on #117
This issue was about the old version of crash me. The new one only supports a single type of crash for chrome and content. So this is not a problem anymore.

[2017-09-13 12:07] #117 closed

[2017-09-13 12:09] whimboo commented on #127
For the rewrite of the extension we have to rely on what the WebExtension API is giving us.  So I think this is not necessary anymore.

[2017-09-13 12:09] #127 closed

[2017-09-13 12:09] whimboo commented on #114
With the rewrite we removed the screenshot feature because it's part of Firefox now.

[2017-09-13 12:09] #114 closed

[2017-09-13 12:10] whimboo commented on #128
This only worked for the old legacy extension.

[2017-09-13 12:10] #128 closed

[2017-09-13 12:10] whimboo commented on #108
With the rewrite of the extension this works fine!

[2017-09-13 12:10] #108 closed

[2017-09-13 12:11] whimboo commented on #111
This code doesn't exist anymore with the rewrite of the extension.

[2017-09-13 12:11] #111 closed

[2017-09-13 12:12] whimboo commented on #148
We removed screenshots given that it is a core feature of Firefox now.

[2017-09-13 12:12] #148 closed

[2017-09-13 12:12] whimboo commented on #161
The rewrite of the extension got rid of all the old (and unused) code.

[2017-09-13 12:12] #161 closed

[2017-09-13 12:14] whimboo commented on #106
Options for extensions based on the WebExtension API are located in the addons manager. I don't think we have other options here.

[2017-09-13 12:14] #106 closed

[2017-09-13 12:15] whimboo commented on #90
Not necessary anymore after the rewrite.

[2017-09-13 12:15] #90 closed

[2017-09-13 12:15] whimboo commented on #87
With the rewrite all old code is gone.

[2017-09-13 12:15] #87 closed

[2017-09-13 12:16] whimboo commented on #80
This would still be necessary for the rewrite of the extension.

[2017-09-13 12:18] whimboo commented on #68
Lets concentrate on specific use cases for Nightly testers. If there are extensions already out there which can change the UA, we don't have to re-invent the wheel.

[2017-09-13 12:18] #68 closed

[2017-09-13 12:20] whimboo commented on #59
Not relevant anymore with the rewrite of the extension.

[2017-09-13 12:20] #59 closed

[2017-09-13 12:21] whimboo commented on #64
Not be necessary anymore, at least no-one asked again.

[2017-09-13 12:21] #64 closed

[2017-09-13 12:22] whimboo commented on #29
Not relevant for the rewrite of the extension anymore.

[2017-09-13 12:22] #29 closed

[2017-09-13 12:23] whimboo commented on #50
The menu button is there now with the rewrite of the extension based on the WebExtension API.

[2017-09-13 12:23] #50 closed

[2017-09-13 12:24] whimboo commented on #34
Tab groups are gone for a long time.

[2017-09-13 12:24] #34 closed

[2017-09-13 12:25] whimboo opened #247 "Add back mozcrash feature"
With the rewrite of the extension the feature to crash Firefox had to be removed. We have to check what's necessary to get the code which is using `ctypes` to get running again.

[2017-09-13 12:26] whimboo opened #248 "Add back pushlog feature"
With the rewrite of the extension we lost this feature. We have to add it back once the WebExtension API allows us to retrieve the changeset id.

[2017-09-13 12:29] whimboo opened #249 "Cannot insert buildid into some text boxes"
For example the search field on AMO doesn't allow me to paste in the buildid:

https://addons.mozilla.org/en-US/firefox/addon/nightly-tester-tools/

Whenever I try that I see the following message but without a reference to a file:

@kyoshino can you please have a look?

[2017-09-13 12:30] whimboo commented on #249
Btw. it also doesn't work for contenteditable elements.

[2017-09-13 12:32] whimboo commented on #241
With Firefox 57 all legacy addons including XUL-based and AddonSDk-based extensions are no longer supported. As such this feature will not be necessary anymore. As such we won't support that feature anymore with the rewrite of the NTT extension, which is available as beta on AMO now.

[2017-09-13 12:32] #241 closed

[2017-09-13 12:34] kyoshino opened #250 "Enable undo in textboxes"
Undo (Ctrl-Z) in textboxes doesn't work when:

* Adding UA info or extension list into a textbox
* Editing custom title template

From https://github.com/mozilla/nightlytt/pull/245#issuecomment-328982722:

[2017-09-13 12:35] kyoshino commented on #249
Will figure out why.

[2017-09-13 12:35] whimboo commented on #229
ctypes isn't supported in the WebExtensions API. So this issue is not relevant anymore.

[2017-09-13 12:35] #229 closed

[2017-09-13 12:36] whimboo commented on #227
This code is gone with the rewrite.

[2017-09-13 12:36] #227 closed

[2017-09-13 12:37] whimboo commented on #92
The code doesn't exist anymore, and I think a feature like this would be overkill.

[2017-09-13 12:37] #92 closed

[2017-09-13 12:37] kyoshino commented on #248
My initial attempt is here, as mentioned in https://github.com/mozilla/nightlytt/issues/235#issuecomment-328309577:
https://github.com/kyoshino/nightlyttr/compare/experiment

[2017-09-14 08:33] whimboo commented on #248
Does it mean that users have to install the experiment addon separately, or how does it work?

[2017-09-14 08:33] whimboo commented on #101
This is all XUL and doesn't exist anymore with the rewrite.

[2017-09-14 08:33] #101 closed

[2017-09-14 08:34] whimboo commented on #91
This was for XUL and we may not need that anymore for the rewrite.

[2017-09-14 08:34] #91 closed

[2017-09-14 08:36] whimboo commented on #165
Not sure if that project is still active or not, but once they support webextensions, we can see again if something is broken.

[2017-09-14 08:36] #165 closed

[2017-09-14 08:38] whimboo commented on #184
So once PaleMoon supports addons based on the WebExtension API it should work. We could revisit later if something is broken.

[2017-09-14 08:38] #184 closed

[2017-09-14 08:40] whimboo commented on #86
We don't have the pastebin feature anymore in the rewrite of the extension and would have to find a new way of doing so.

[2017-09-14 08:40] #86 closed

[2017-09-14 08:41] whimboo opened #251 "Add pastebin feature"
We lost the pastebin feature with the rewrite of the extension. It should be added back.

[2017-09-14 08:43] whimboo commented on #167
I don't think that this is a feature which will really be used. Closing for now.

[2017-09-14 08:43] #167 closed

[2017-09-14 08:44] whimboo commented on #188
The rewrite of the extension is now in beta state, and the left-overs from this issue won't be worked on anymore because it would only affect the old and legacy extension.

[2017-09-14 08:44] #188 closed

[2017-09-14 08:47] whimboo commented on #176
With the rewrite of the extension the pastebin feature is gone at the moment. We will have to re-implement it, and which is covered by issue #251.

[2017-09-14 08:47] #176 closed

[2017-09-14 08:48] whimboo commented on #218
With the rewrite of the extension the crashme feature is not available for now. Please see issue #247 for bringing the feature back.

[2017-09-14 08:48] #218 closed

[2017-09-14 08:50] whimboo commented on #49
This feature is gone with the rewrite of the extension, also because Firefox has it included natively now.

[2017-09-14 08:50] #49 closed

[2017-09-14 08:50] whimboo commented on #20
This we basically got for free with the rewrite of the extension based on the WebExtension API.

[2017-09-14 08:50] #20 closed

[2017-09-14 08:52] whimboo commented on #70
This is blocked on issue #248 now.

[2017-09-14 09:03] whimboo commented on #152
Tab groups are gone for a while now, so removing it from the summary of the issue.

[2017-09-14 09:49] xabolcs commented on #248
Pushlog is only relevant for short pushlogs.

Experiments run only on [Nightly and Developer Edition.](https://webextensions-experiments.readthedocs.io/en/latest/why.html#where-do-they-work)
Nightly has daily build, Developer Edition has weekly build.

[2017-09-14 09:52] xabolcs commented on #86
Follow up issue is #251.

[2017-09-14 12:24] kyoshino commented on #248
There are no WebExtensions APIs to retrieve the changeset, crash the app, and achieve other unimplemented features, so I think we need a separate [experiment extension](https://webextensions-experiments.readthedocs.io/en/latest/) anyway. AFAIK the regular extension and experiment cannot be combined.

[2017-09-14 13:11] whimboo commented on #248
Maybe it's faster to request the addition of the changeset id to `getBrowserInfo` and `getPlatformInfo`.

[2017-09-14 13:21] whimboo commented on #248
The request could be added as dependency for [bug 1215059](https://bugzilla.mozilla.org/show_bug.cgi?id=1215059). Maybe we can even request more data as we need for the customize titlebar feature.

[2017-09-14 13:54] KOLANICH commented on #152
not sure that they are gone forever though ...

[2017-09-14 17:32] whimboo commented on #235
@kyoshino I tried to install the beta for Firefox 56 but it's not allowed. Do you know if there is a restriction somewhere? Maybe it is because it's not signed? That way it will be hard for our users to actually test this version.

[2017-09-14 17:52] xabolcs commented on #235
I installed when it's pushed to AMO and now too ... without problems.
FDE/56.0b11

[2017-09-14 18:06] kyoshino commented on #235
It works for me on both 56 Beta and 56 Developer Edition.

[2017-09-14 18:10] whimboo commented on #235
Oh, it was the Random User Agent spoofer extension which had Firefox 51 selected. Disabling it made it work.

[2017-09-21 13:59] xabolcs commented on #248
Sure the `prefix` stuff is very limiting.

[2017-09-22 05:27] whimboo commented on #248
Which `prefix` stuff do you mean? For the title bar? This is not something I'm referring here for the pushlog feature.

[2017-09-22 07:35] xabolcs commented on #248
Yes, I meant the `titlePreface` stuff in `browser.windows.update`. But as You say, it's offtopic here.

[2017-09-27 12:23] whimboo commented on #249
@kyoshino will you have the time to get this investigated/fixed? If not we might want to release the 4.0 version, and get this done for 4.1. I would just like to get the release out now that 57 is on beta. Thanks.

[2017-10-03 16:48] kyoshino commented on #249
Sorry I'm late!! Looks like the AMO issue cannot be solved as reported as [Bug 1310082](https://bugzilla.mozilla.org/show_bug.cgi?id=1310082). Fixing the `contenteditable` issue now.

[2017-10-04 07:20] whimboo commented on #249
That sounds good to me. Thank you for the update @kyoshino. I will review it soon.

[2017-10-04 19:05] whimboo commented on #249
PR #253 got merged.

[2017-10-04 19:05] #249 closed

[2017-10-04 20:52] akshat14714 commented on #250
@kyoshino I am a newbie, and I want to solve this issue. Can you help me in solving this?

[2017-10-05 16:56] kyoshino commented on #250
I'm also a newbie actually 😄 Please give it a shot if you can.

[2017-10-10 10:51] MikkCZ opened #255 "Promote to beta audience"
Looking at the features, nothing I see here seems specific to Firefox Nightly only. I suggest to rebrand this extensions from Nightly Tester Tools to Firefox Tester Tools and promote it at least to the beta audience. Adding some basic integration with Bugzilla can ease reporting bugs for beta users or even Firefox release users. That would be for a further discussion, what will or won't help the "

[2017-10-10 10:54] MikkCZ commented on #250
If the API is not supported, I suggest to use the standard history API (I guess this is supported) to store the previous textbox state and listen to Ctrl+Z/Ctrl+Shift+Z/Ctrl+Y key presses. Or we can store the input history in memory, but that has a potential to leaks.

[2017-10-10 10:57] UtiluMark commented on #255
Since Nightly Tester Tools is also for other Mozilla applications like SeaMonkey and Thunderbird, I think using the name Firefox in it isn't a good idea.
Indeed it's not specific to Firefox Nightly or SeaMonkey Nightly or Thunderbird Nightly, but can also be useful in beta and final versions.

[2017-10-10 10:57] MikkCZ commented on #246
Do all the features work without the `applications` in the manifest file? I thought it's necessary to access the list of installed extensions at least. But if I am wrong and the `applications` is not needed, I would remove it and than just wait for SeaMonkey to support WebExtensions correctly (IIRC the latest version is based on Firefox 51 core, but the API support may be even more behind).

[2017-10-10 11:01] MikkCZ commented on #60
I guess this is not possible with WebExtensions anymore, and not needed when all languages should have their Nightly builds available. Also new strings are currently qurantined and not exposed to localizers for few days after they are added to mozilla-central, so the errors would be pretty commons I think.

[2017-10-10 11:05] MikkCZ commented on #141
This is probably blocked by #246 now.

[2017-10-10 11:05] MikkCZ commented on #179
This is probably blocked by #246 now.

[2017-10-10 11:05] MikkCZ commented on #69
This may be actually related to #255.

[2017-10-10 12:58] kyoshino commented on #250
The [Undo Manager](https://dvcs.w3.org/hg/undomanager/raw-file/tip/undomanager.html) has already been [removed](https://bugzilla.mozilla.org/show_bug.cgi?id=1310385) from Firefox 😿

[2017-10-10 20:37] UtiluMark commented on #204
I'm currently implementing the added customize title bar options into the WebExtension.

In the XUL-based extension the beta version was retreived using:
[code]
In Firefox 57
resource://gre/modules/AppConstants.jsm
still contains the beta version number, just like in earlier versions:
`MOZ_APP_VERSION_DISPLAY: "57.0b7",`
but retreiving this using the code from the XUL-based extension doesn't work

[2017-10-11 08:02] xabolcs commented on #141
This was created for the legacy extension.
I vote for closing this, as this is now not applicable: the legacy case won't be fixed, and the Web Extension API case is covered by #246.

[2017-10-11 08:16] xabolcs commented on #248
The experiment addon could live on the `experiment` branch, as @kyoshino already did use it.

[2017-10-11 08:20] xabolcs commented on #250
WebExtension Experiments could help here? If yes, then it could be done as a separate issue / workaround for Nightly and Developer Edition to not forget about Firefox Beta / Release and other Gecko (SeaMonkey, Thunderbird?) users.

[2017-10-11 09:23] xabolcs commented on #129
I don't understand the reasoning about closing this issue.

It's is blocked by #246 instead of closing. Hm?

[2017-10-11 09:44] xabolcs commented on #248
Ohh, there is [Bug 1366827](https://bugzilla.mozilla.org/show_bug.cgi?id=1366827) which could help us for Beta and Release Firefoxes 👍 :

@whimboo, would you mind to dig out how this bug could help us?

[2017-10-11 10:58] xabolcs commented on #204
@UtiluMark, try with [WebExtensions Experiments](https://webextensions-experiments.readthedocs.io/en/latest/)!

[2017-10-11 11:16] Herb0yk opened #256 "Title setting doesn't stay"
While it's pretty cool to have it working now under all the new WE stuff, I wonder why it keeps forgetting the custom title after a new browser start, though it is still set. I have to recall the settings and reinvoke the custom title checkbox. Not a big deal however a nag when you play parallel different versions to have a destinct separation in the windows taskbar.

[2017-10-11 16:46] whimboo commented on #129
Do we know what the WebExtension API returns in case of SeaMonkey as build information? It may contain the correct data. The originally filed approach to read it from `application.ini` file will not work anytime longer.

[2017-10-11 16:48] whimboo commented on #248
Sorry but I don't have the time for doing that at the moment. Lets focus on the Nightly and experiment extension first.

[2017-10-11 17:20] whimboo commented on #246
@kyoshino has the application in the manifest to be named `gecko` or is that free? It's a hash, so I would assume we could add other applications too.

[2017-10-12 13:42] alex-mayorga opened #257 ""Insert Build ID" and "Insert List of Extensions" overwrites the text box content"
Steps:
- Type "test" into a text box
- Right click said text box
- Click "Insert Build ID" or "Insert List of Extensions"

Result:
Overwrites the text box content.

Expected result:
Appends to the text box content.

[2017-10-13 22:32] sammyd2 opened #258 "${Profile} does not work on 4.0 (works on 3.1)"

[2017-10-14 04:16] kyoshino commented on #258
It's a known issue due to the limited WebExtensions API. Will figure out how to restore it and other several fields.

[2017-10-15 09:10] UtiluMark commented on #256
Additionally, when you open a new empty tab (Ctrl+T) the custom title also doesn't get applied, at least until you've switched back and forth between tabs.

[2017-10-16 13:06] whimboo commented on #256
Looks like a misbehavior we should fix for the 4.1 release.

[2017-10-16 13:15] kyoshino commented on #256
Will take a look this week or next.

[2017-11-04 03:42] srivkrnt opened #259 "Reopen closed tabs works in Incognito mode"
The CLTRL+SHIFT+T shortcut works in icognito mode too and I guess it should not following the privacy in the incognito mode, the feature should be disabled .

[2017-11-10 07:11] magicp-github opened #260 "panel-list-item background does not redraw when mouse out"
Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:58.0) Gecko/20100101 Firefox/58.0 ID:20171109220104

**Steps to reproduce:**
1. Launch the latest Nightly on Windows
2. Open NTT menu
3. Hover on menus

**Actual Results:**
panel-list-item background does not redraw when mouse out.
- reproduce on Win 7, 8.1 and 10.
- cannot reproduce on Ubuntu 17.04 and macOS 10.12.6

![ntt](https://user-images.githubus

[2017-11-10 07:18] kyoshino commented on #260
I think it's a bug in Firefox, not in this particular extension.

[2017-11-11 11:05] MechaLynx opened #261 "Modified title string precedes the page's title and Firefox's title"
Not sure if this is intentional or unavoidable, but it makes it hard to use a custom title without pushing the page's title outside what's visible on taskbars. It used to follow Firefox's title, which I think was optimal, especially for version strings.

[2017-11-15 20:23] whimboo commented on #261
Mind attaching a screenshot? I'm on MacOS so I don't have a window title at all. CC'ing @kyoshino

[2017-11-15 20:27] whimboo commented on #260
@magicp-github if you have a Bugzilla account, please get this filed under https://bugzilla.mozilla.org/enter_bug.cgi?product=Core&component=Layout%3A%20View%20Rendering. Let us know the bug number when you created the bug. Thanks.

Given that this is not an issue with NTT I will close it.

[2017-11-15 20:27] #260 closed

[2017-11-15 20:27] MechaLynx commented on #261
![2017-11-15 22_25_41-57 0-win-x86-32 _ 20171102181127 modified title string precedes the page s tit](https://user-images.githubusercontent.com/8427257/32858396-076dd2b0-ca54-11e7-96fa-835c68d1be5b.png)

Sorry for the faded colors, the window is out of focus, but it should be clear enough.

That's with `${Version}-${OS}-${Processor} / ${AppBuildID}` for the title string.

[2017-11-15 20:28] whimboo commented on #259
@srivkrnt you are reporting an issue for Firefox in the wrong bug tracker. I would suggest to file a bug in the following component: https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox&component=Tabbed%20Browser. Thanks.

[2017-11-15 20:28] #259 closed

[2017-11-15 20:34] whimboo commented on #261
Ok, so that's basically defined by the WebeExtension API and nothing we can change. It has been implemented as prefix only via https://bugzilla.mozilla.org/show_bug.cgi?id=1333376. Feel free to raise a follow-up bug for Firefox. Once such a feature is available we could also implement it. Until then I will have to close this issue. Sorry.

[2017-11-15 20:34] kyoshino commented on #261
Yeah, I see the same behaviour on macOS. Can't fix it our side.

[2017-11-15 20:35] MechaLynx commented on #261
Roger that, no worries, I expected it to be an API thing anyway.

[2017-11-15 20:36] whimboo commented on #261
Whereby the only option for now might be an experiment. But we aren't that far yet with the extension.

[2017-11-19 19:44] UtiluMark commented on #256
@kyoshino Any progress?

[2017-11-27 11:23] whimboo commented on #256
I actually found the knob to turn on the titlebar on MacOS (inside the customize palette). So I have also seen this behavior now after updating Firefox Nightly. Switching tabs doesn't bring back the title. But once I created a new tab the title got updated with the configured prefix.

Do we have to listen for a startup notification of Firefox to set the prefix via the WebExtension API?

[2017-12-24 17:49] unalignedcoder commented on #256
Same problem here. Other extensions that attempt to do this also fail in the same seemingly unpredictable way.
In fact, sometimes the title do stick, but I cannot reproduce it. Creating a new tab doesn't do it for me. To fix it I need to manually go into the nightly tester options and check/uncheck "Use custom title".

I hope this will be fixed soon, it's what I use to differentiate different prof

[2017-12-29 16:16] MikkCZ commented on #255
Do you think it would be possible to eventually ship NTT WebExt with Firefox Nightly similar way like the Webcompat report extension is?

[2018-01-03 18:21] whimboo commented on #256
@bobsilverberg do you have an idea if that is a problem with the WebExtension API and the window title API you implemented?

[2018-01-04 18:10] bobsilverberg commented on #256
@whimboo There is an open bug [1] about titlePreface on Windows and Linux with windows with a blank title, which sounds like at least part of the problems described above. As for having the title set when Firefox is restarted, it looks like `update_titlebar` is only called when windows and tabs are created and removed, so you likely also need to call it after the extension starts up, to apply the

[2018-01-04 20:24] whimboo commented on #255
No, there is barely support for this extension, and there are a couple of obstacles to take to become a system add-on.

[2018-01-05 01:05] vanowm commented on #261
Mind keep this issue opened (with "can't fix") tag, for general public information?
Also, homepage needs an update:
https://wiki.mozilla.org/QA/Automation/Projects/Addons/NightlyTesterTools#Variables
Many variables are no longer working, perhaps the table should have the version information where a variable is available or not.

[2018-01-05 08:04] whimboo commented on #261
Sure, I added a new `blocked` label to indicate the status. For the wiki update can you please file a new issue? Thanks.

[2018-01-05 12:50] vanowm opened #262 "Homepage needs update regarding changes in available variables"
The [homepage](https://wiki.mozilla.org/QA/Automation/Projects/Addons/NightlyTesterTools#Variables) has a table with available variables, some variables no longer working in v4
It would be nice if the table also included another row with addon's version the variable avialable in. (some of us use still using legacy version)

[2018-01-13 06:16] kyoshino commented on #248
Sorry for the silence. I'm going to work on the 4.1 release in this Q1. I've just heard some good news: [Bug 1323845 - Allow experiments to include content-side APIs](https://bugzilla.mozilla.org/show_bug.cgi?id=1323845). A separated package will no longer be required, so it's a great change for us.

[2018-02-07 19:04] grahamperrin opened #263 "Better identification of extensions"
From <https://addons.mozilla.org/addon/nightly-tester-tools/reviews/1035543/>:

The extension could be improved by more positively identifying extensions. Include:

- either the AMO address of the extension, non-localised, for example https://addons.mozilla.org/addon/nightly-tester-tools/
- or (if not listed on AMO) ideally the support URL, less ideally the home URL.

If no URLs is associated with

[2018-04-03 11:40] olafhering commented on #258
Any update on the progress to fix this issue?

[2018-07-18 23:14] kyoshino commented on #247
Just heard from @SeburoSUMO that Firefox 62+ comes with `about:crashparent` that triggers a crash of Firefox ([Bug 1462702](https://bugzilla.mozilla.org/show_bug.cgi?id=1462702)). We can probably include a link to this page in NTT.

[2018-07-24 17:56] whimboo commented on #247
Note that there is also `about:crashcontent` for the content process. So it indeed means that we can bring back the crash feature. I would find it helpful if we could make it that users do not actually see which pages are getting loaded.

[2018-07-24 18:53] whimboo commented on #248
@Loirooriol the Nightly Tester Tools are an open source project and you could have contributed to it instead of creating a new extension. With the code in place we might have found a solution to ship it.

[2018-08-28 14:13] desrod opened #264 "Installs but does not work on Quantum (ESR 60), no menus, no options, no user interface"
I was hoping to see ntt working with Quantum, but unfortunately, it does not. It installs, but there's no menu under Tools and no way to access the options that were available in previous versions of ntt.

I recognize this bug report is very lean, but there's not much to report. It just doesn't work at all.

Here's the details of my environment:

  "application": {
    "name": "Firefox",
    "osVe

[2018-09-03 08:34] whimboo commented on #264
Nightly tester tools is now based on the WebExtension API and as such it doesn't modify the `Tools` menu anymore. You will find a button in the toolbar (check the customize palette too if not visible by default), or the context menu in text fields.

[2018-09-03 08:34] #264 closed

[2018-09-05 08:08] xabolcs commented on #264
But @desrod have the latest, 4.0 installed.

[2018-09-05 08:12] whimboo commented on #264
Right, but the UI has been changed and as such cannot be found at the usual place as NTT <4 was using. So I strongly believe that's the problem here. I'm happy to reopen through if it's not, but I doubt it. No-one else mentioned this problem yet.

[2018-09-25 06:53] morenop3 opened #265 "[customize-titlebar] Custom title bar does not work on blank pages/tabs"
I am using this setting: ${Name} ${PlatformVersion}
My setting for "Preferences" -> "Home and new windows" and "New tabs" is: Blank Page

Just after run Firefox 62.0 I got a "Blank Page" and the title bar is: Mozilla Firefox
Just after run Firefox 52.9.0 ESR I got a "Blank Page" and the title bar is: Firefox 52.9.0

so it is working with Firefox 52.9.0 ESR but not with Firefox 62.0

Thanks

[2018-09-26 09:15] whimboo commented on #265
Thank you for the report. Actually this is a known issue and tracked under #256.

[2018-09-26 09:15] #265 closed

[2018-09-27 18:31] I-RaFaEl-I opened #266 "Insert Domain Name of current Tab into Title Bar"
I been trying some add-ons to insert **Domain Name** into Firefox **tittle bar** but i just could not achive my goal. Is it posible to add this featuring in your add-on?

### Current State
* Tab URL: https://github.com/mozilla/nightlytt/issues/new
* Firefox tittle: "New Issue mozilla/nightlytt - Mozilla Firefox"

### Expected
* Tab URL: https://github.com/mozilla/nightlytt/issues/new
* Firefox tit

[2018-10-25 03:01] MinorMole opened #267 "JSON viewer color update 65.0a1, feature or bug?"
See the color of text "th" before Nightly 65.0a1 it purple color but after update 65.0a1 it color blue as same and every text it all blue and hard to read. Not sure is it a feature or bug?

![Picture](https://i.imgur.com/E5l9oga.png)

[2018-10-25 03:09] kyoshino commented on #267
How that’s related to the Nightly Tester Tools extension?

[2018-10-25 03:11] #267 closed

[2018-10-30 15:01] whimboo commented on #266
Under which conditions this would be useful? Note that you will only see the domain for the currently selected tab anyway. And then the location bar already has this information. So I wonder about a use case here.

[2019-03-28 03:38] Mozilla-GitHub-Standards opened #271 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-28 07:21] #271 closed

[2019-12-03 10:55] #255 closed

[2021-11-03 07:19] whimboo commented on #113
Yes it is. Due to time constraints nightlytt is basically unmaintained at the moment. But we are happy to accept patches in case someone is interested to help out.

[2021-11-03 07:36] whimboo commented on #204
Yes it is. And checking again it should basically be fixed at the WebExtension API level. There is https://bugzilla.mozilla.org/show_bug.cgi?id=1389751 open for exactly that problem.